

![JohnSnowLabs](https://nlp.johnsnowlabs.com/assets/images/logo.png)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/JohnSnowLabs/nlu/blob/master/examples//colab/component_examples/multilingual/korean_ner_pos_and_tokenization.ipynb.ipynb)

 
 # Detect Named Entities (NER), Part of Speech Tags (POS) and Tokenize in Korean

In [1]:
import os
! apt-get update -qq > /dev/null   
# Install java
! apt-get install -y openjdk-8-jdk-headless -qq > /dev/null
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]
! pip install nlu pyspark==2.4.7 > /dev/null   
import nlu

# Tokenize in Korean

In [20]:
# Tokenize in Korean
import nlu
pipe = nlu.load('ko.segment_words')


# Korean for 'Asia's economy is booming'
ko_data = '아시아 경제는 호황을 누리고 있습니다'

df = pipe.predict(ko_data, output_level='token')
df

wordseg_kaist_ud download started this may take some time.
Approximate size to download 738.9 KB
[OK!]

             token
origin_index
0              아시아
0              경제는
0              호황을
0              누리고
0              있습다
0                니

# Extract Part of Speech in Korean

In [21]:
# Extract Part of Speech
pipe = nlu.load('ko.pos')

df = pipe.predict(ko_data, output_level='document')
df

pos_ud_kaist download started this may take some time.
Approximate size to download 15.8 MB
[OK!]
wordseg_kaist_ud download started this may take some time.
Approximate size to download 738.9 KB
[OK!]

                                                pos              document
origin_index
0             [PROPN, NOUN, NOUN, VERB, AUX, PROPN]  아시아 경제는 호황을 누리고 있습니다

# Extract Named Entities in Korean

In [22]:
# Extract named korean entities 
pipe = nlu.load('ko.ner.kmou.glove_840B_300d')

# Since NER requires POS, we can tell NLU to keep the POS results with metadata=True
df = pipe.predict(ko_data, output_level='document')
df

ner_kmou_glove_840B_300d download started this may take some time.
Approximate size to download 17.1 MB
[OK!]
wordseg_kaist_ud download started this may take some time.
Approximate size to download 738.9 KB
[OK!]
glove_840B_300 download started this may take some time.
Approximate size to download 2.3 GB
[OK!]

                entities  ...                                    word_embeddings
origin_index              ...
0             [아시아, 있습니]  ...  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[1 rows x 5 columns]

In [23]:
df.entities

origin_index
0    [아시아, 있습니]
Name: entities, dtype: object

# Translate Japanese extracted named entities to English

In [24]:
translate_pipe = nlu.load('ko.translate_to.en')
en_entities = translate_pipe.predict(df.entities.str.join(' ').values.tolist())
en_entities

translate_ko_en download started this may take some time.
Approx size to download 397 MB
[OK!]

                          translation sentence
origin_index
0             Asia, Asia, Asia, Asia,  아시아 있습니