![JohnSnowLabs](https://nlp.johnsnowlabs.com/assets/images/logo.png)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Healthcare/11.2.Pretrained_NER_Profiling_Pipelines.ipynb)

In [ ]:
import json, os
from google.colab import files

license_keys = files.upload()

with open(list(license_keys.keys())[0]) as f:
    license_keys = json.load(f)

# Defining license key-value pairs as local variables
locals().update(license_keys)

# Adding license key-value pairs to environment variables
os.environ.update(license_keys)

In [ ]:
# Installing pyspark and spark-nlp
! pip install --upgrade -q pyspark==3.1.2 spark-nlp==$PUBLIC_VERSION

# Installing Spark NLP Healthcare
! pip install --upgrade -q spark-nlp-jsl==$JSL_VERSION  --extra-index-url https://pypi.johnsnowlabs.com/$SECRET

In [3]:
import json
import os
from pyspark.ml import Pipeline,PipelineModel
from pyspark.sql import SparkSession

from sparknlp.annotator import *
from sparknlp_jsl.annotator import *
from sparknlp.base import *
import sparknlp_jsl
import sparknlp

params = {"spark.driver.memory":"16G",
"spark.kryoserializer.buffer.max":"2000M",
"spark.driver.maxResultSize":"2000M"}

spark = sparknlp_jsl.start(license_keys['SECRET'],params=params)

print ("Spark NLP Version :", sparknlp.version())
print ("Spark NLP_JSL Version :", sparknlp_jsl.version())

spark

Spark NLP Version : 3.4.0
Spark NLP_JSL Version : 3.4.0

# Clinical NER Model Profiling Pretrained Pipeline

This pipeline can be used to explore all the available pretrained NER models at once. When you run this pipeline over your text, you will end up with the predictions coming out of each pretrained clinical NER model trained with `embeddings_clinical`.

|Clinical NER Model List|
|-|
|ner_ade_clinical|
|ner_posology_greedy|
|ner_risk_factors|
|jsl_ner_wip_clinical|
|ner_human_phenotype_gene_clinical|
|jsl_ner_wip_greedy_clinical|
|ner_cellular|
|ner_cancer_genetics|
|jsl_ner_wip_modifier_clinical|
|ner_drugs_greedy|
|ner_deid_sd_large|
|ner_diseases|
|nerdl_tumour_demo|
|ner_deid_subentity_augmented|
|ner_jsl_enriched|
|ner_genetic_variants|
|ner_bionlp|
|ner_measurements_clinical|
|ner_diseases_large|
|ner_radiology|
|ner_deid_augmented|
|ner_anatomy|
|ner_chemprot_clinical|
|ner_posology_experimental|
|ner_drugs|
|ner_deid_sd|
|ner_posology_large|
|ner_deid_large|
|ner_posology|
|ner_deidentify_dl|
|ner_deid_enriched|
|ner_bacterial_species|
|ner_drugs_large|
|ner_clinical_large|
|jsl_rd_ner_wip_greedy_clinical|
|ner_medmentions_coarse|
|ner_radiology_wip_clinical|
|ner_clinical|
|ner_chemicals|
|ner_deid_synthetic|
|ner_events_clinical|
|ner_posology_small|
|ner_anatomy_coarse|
|ner_human_phenotype_go_clinical|
|ner_jsl_slim|
|ner_jsl|
|ner_jsl_greedy|
|ner_events_admission_clinical|

You can check [Models Hub](https://nlp.johnsnowlabs.com/models) page for more information about all these models and more.

In [4]:
from sparknlp.pretrained import PretrainedPipeline

clinical_profiling_pipeline = PretrainedPipeline("ner_profiling_clinical", "en", "clinical/models")

ner_profiling_clinical download started this may take some time.
Approx size to download 2.3 GB
[OK!]

In [5]:
text = '''A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .'''

In [6]:
clinical_result = clinical_profiling_pipeline.annotate(text)
clinical_result.keys()

dict_keys(['ner_ade_clinical_chunks', 'ner_deid_augmented', 'ner_posology_greedy_chunks', 'ner_radiology_wip_clinical', 'ner_deidentify_dl', 'ner_jsl_slim', 'ner_risk_factors_chunks', 'jsl_ner_wip_clinical_chunks', 'ner_deid_synthetic', 'ner_drugs_greedy', 'ner_human_phenotype_gene_clinical_chunks', 'ner_events_admission_clinical', 'jsl_ner_wip_greedy_clinical_chunks', 'ner_posology_greedy', 'ner_cellular_chunks', 'ner_cancer_genetics_chunks', 'ner_jsl_greedy', 'jsl_ner_wip_modifier_clinical_chunks', 'ner_drugs_greedy_chunks', 'ner_deid_sd_large_chunks', 'ner_diseases_chunks', 'ner_diseases_large', 'ner_chemprot_clinical', 'ner_posology_large', 'nerdl_tumour_demo_chunks', 'ner_deid_subentity_augmented_chunks', 'ner_jsl_enriched_chunks', 'ner_genetic_variants_chunks', 'ner_chexpert', 'ner_bionlp_chunks', 'ner_measurements_clinical_chunks', 'ner_diseases_large_chunks', 'ner_drugs_large', 'ner_clinical_large', 'ner_chemicals', 'ner_radiology_chunks', 'ner_bacterial_species', 'ner_deid_augmented_chunks', 'ner_bionlp', 'ner_anatomy_chunks', 'ner_deid_large', 'jsl_ner_wip_modifier_clinical', 'ner_chemprot_clinical_chunks', 'nerdl_tumour_demo', 'ner_posology_experimental_chunks', 'ner_cancer_genetics', 'ner_posology_small', 'ner_drugs_chunks', 'ner_deid_sd_chunks', 'ner_human_phenotype_gene_clinical', 'ner_ade_clinical', 'ner_human_phenotype_go_clinical', 'ner_risk_factors', 'ner_clinical', 'ner_posology_large_chunks', 'ner_cellular', 'ner_deid_large_chunks', 'ner_posology_chunks', 'ner_deidentify_dl_chunks', 'ner_deid_enriched_chunks', 'ner_deid_sd_large', 'jsl_ner_wip_greedy_clinical', 'ner_bacterial_species_chunks', 'ner_diseases', 'jsl_rd_ner_wip_greedy_clinical', 'ner_drugs', 'ner_drugs_large_chunks', 'ner_clinical_large_chunks', 'ner_anatomy_coarse', 'token', 'ner_medmentions_coarse', 'ner_deid_sd', 'jsl_rd_ner_wip_greedy_clinical_chunks', 'ner_medmentions_coarse_chunks', 'ner_anatomy', 'ner_deid_enriched', 'ner_deid_subentity_augmented', 'ner_radiology_wip_clinical_chunks', 'ner_clinical_chunks', 'ner_measurements_clinical', 'ner_chexpert_chunks', 'ner_chemicals_chunks', 'ner_jsl_enriched', 'ner_deid_synthetic_chunks', 'ner_events_clinical_chunks', 'ner_posology_experimental', 'jsl_ner_wip_clinical', 'ner_posology_small_chunks', 'ner_anatomy_coarse_chunks', 'ner_human_phenotype_go_clinical_chunks', 'ner_jsl', 'ner_events_clinical', 'ner_jsl_slim_chunks', 'ner_jsl_chunks', 'ner_jsl_greedy_chunks', 'ner_genetic_variants', 'ner_radiology', 'ner_posology', 'sentence', 'ner_events_admission_clinical_chunks'])

In [7]:
print("Clinical Text: \n", text, "\n \nResults:\n")

for i in clinical_result.keys():
  print("{} : ".format(i), clinical_result[i])

Clinical Text:
 A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .

Results:

ner_ade_clinical_chunks :  ['pancreatitis', 'acute hepatitis', 'obesity with a body mass index', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_deid_augmented :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_greedy_chunks :  []
ner_radiology_wip_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-BodyPart', 'B-Symptom', 'I-Symptom', 'O', 'O', 'O', 'O', 'B-Measurements', 'B-Units', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_deidentify_dl :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_slim :  ['O', 'B-Age', 'B-Demographics', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Date_Time', 'I-Date_Time', 'I-Date_Time', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-Date_Time', 'I-Date_Time', 'I-Date_Time', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Symptom', 'I-Symptom', 'I-Symptom', 'O', 'B-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_risk_factors_chunks :  ['diabetes mellitus', 'type two diabetes mellitus', 'obesity']
jsl_ner_wip_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'subsequent', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', '33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_deid_synthetic :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugs_greedy :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_human_phenotype_gene_clinical_chunks :  ['type', 'obesity', 'mass', 'polyuria', 'polydipsia', 'vomiting']
ner_events_admission_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-OCCURRENCE', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
jsl_ner_wip_greedy_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_posology_greedy :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_cellular_chunks :  []
ner_cancer_genetics_chunks :  []
ner_jsl_greedy :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
jsl_ner_wip_modifier_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_drugs_greedy_chunks :  []
ner_deid_sd_large_chunks :  []
ner_diseases_chunks :  ['gestational diabetes mellitus', 'diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'hepatitis', 'obesity', 'BMI', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_diseases_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O']
ner_chemprot_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
nerdl_tumour_demo_chunks :  []
ner_deid_subentity_augmented_chunks :  ['28-year-old']
ner_jsl_enriched_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_genetic_variants_chunks :  []
ner_chexpert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_bionlp_chunks :  ['female', 'hepatitis']
ner_measurements_clinical_chunks :  ['33.5', 'kg/m2']
ner_diseases_large_chunks :  ['gestational diabetes mellitus', 'diabetes mellitus', 'T2DM', 'pancreatitis', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'vomiting']
ner_drugs_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_clinical_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_chemicals :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_radiology_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute hepatitis', 'obesity', 'body', 'mass index', 'BMI', '33.5', 'kg/m2', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_bacterial_species :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_augmented_chunks :  []
ner_bionlp :  ['O', 'O', 'B-Organism', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Organism', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_anatomy_chunks :  ['body']
ner_deid_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
jsl_ner_wip_modifier_clinical :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_chemprot_clinical_chunks :  []
nerdl_tumour_demo :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_experimental_chunks :  []
ner_cancer_genetics :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_small :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugs_chunks :  []
ner_deid_sd_chunks :  []
ner_human_phenotype_gene_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O']
ner_ade_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'B-ADE', 'I-ADE', 'I-ADE', 'I-ADE', 'I-ADE', 'I-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'B-ADE', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'B-ADE', 'O']
ner_human_phenotype_go_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O']
ner_risk_factors :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-OBESE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_posology_large_chunks :  []
ner_cellular :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_large_chunks :  []
ner_posology_chunks :  []
ner_deidentify_dl_chunks :  []
ner_deid_enriched_chunks :  []
ner_deid_sd_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
jsl_ner_wip_greedy_clinical :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_bacterial_species_chunks :  []
ner_diseases :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'B-Disease', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'B-Disease', 'O']
jsl_rd_ner_wip_greedy_clinical :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'B-Weight', 'I-Weight', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']

**Lets show chunk results of NER models in a pandas dataframe.**

In [8]:
import pandas as pd


def get_chunk_results(light_result):

  for i in light_result.keys():
    
    model_name = "_".join(i.split("_")[:-1])

    if (i == 'sentence') | (i == 'token'):
      
      continue
    
    if ("_chunks" not in i):
      
      continue

    elif len(light_result[i]) == 0:
      
      print("\n", "*"*20, model_name, "Model Results", "*"*20)
      print("No Result For This Model")


    else:

      sentences = []
      begins = []
      ends = []
      chunks = []
      entities = []
      confidences = []

      for n in (light_result[i]):

        sentences.append(n.metadata['sentence'])
        begins.append(n.begin)
        ends.append(n.end) 
        chunks.append(n.result)
        entities.append(n.metadata['entity'])
        confidences.append(n.metadata['confidence'])

        
      df = pd.DataFrame({'sentence':sentences, 'begin': begins, 'end': ends, 'chunks': chunks, 'entity': entities, 'confidence': confidences})

      print("\n \n", "*"*20, model_name, "Model Results", "*"*20)
      display(df)

In [9]:
text2 = """
At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma. 
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy. 
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%. 
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007
"""

In [10]:
clinical_full_result = clinical_profiling_pipeline.fullAnnotate(text2)[0]

In [11]:
clinical_full_result['ner_jsl_chunks']

[Annotation(chunk, 15, 34, chest tube placement, {'entity': 'Procedure', 'sentence': '0', 'chunk': '0', 'confidence': '0.47713336'}),
 Annotation(chunk, 40, 60, drainage of the fluid, {'entity': 'Procedure', 'sentence': '0', 'chunk': '1', 'confidence': '0.357225'}),
 Annotation(chunk, 75, 86, thoracoscopy, {'entity': 'Procedure', 'sentence': '0', 'chunk': '2', 'confidence': '0.6137'}),
 Annotation(chunk, 93, 106, fluid biopsies, {'entity': 'Procedure', 'sentence': '0', 'chunk': '3', 'confidence': '0.46585'}),
 Annotation(chunk, 146, 179, epithelioid malignant mesothelioma, {'entity': 'Oncological', 'sentence': '0', 'chunk': '4', 'confidence': '0.75373334'}),
 Annotation(chunk, 219, 224, PET CT, {'entity': 'Test', 'sentence': '1', 'chunk': '5', 'confidence': '0.5252'}),
 Annotation(chunk, 240, 248, extensive, {'entity': 'Modifier', 'sentence': '1', 'chunk': '6', 'confidence': '0.5075'}),
 Annotation(chunk, 250, 255, uptake, {'entity': 'ImagingFindings', 'sentence': '1', 'chunk': '7', 'confidence': '0.6767'}),
 Annotation(chunk, 264, 268, chest, {'entity': 'External_body_part_or_region', 'sentence': '1', 'chunk': '8', 'confidence': '0.3257'}),
 Annotation(chunk, 271, 279, bilateral, {'entity': 'Direction', 'sentence': '1', 'chunk': '9', 'confidence': '0.3233'}),
 Annotation(chunk, 281, 309, pleural pericardial effusions, {'entity': 'Disease_Syndrome_Disorder', 'sentence': '1', 'chunk': '10', 'confidence': '0.1796'}),
 Annotation(chunk, 316, 330, lymphadenopathy, {'entity': 'Symptom', 'sentence': '1', 'chunk': '11', 'confidence': '0.4471'}),
 Annotation(chunk, 334, 336, She, {'entity': 'Gender', 'sentence': '2', 'chunk': '12', 'confidence': '0.9999'}),
 Annotation(chunk, 347, 358, acidic fluid, {'entity': 'Symptom', 'sentence': '2', 'chunk': '13', 'confidence': '0.25865'}),
 Annotation(chunk, 361, 368, pectoral, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '14', 'confidence': '0.597'}),
 Annotation(chunk, 374, 397, intramammary lymph nodes, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '15', 'confidence': '0.6812'}),
 Annotation(chunk, 413, 414, L4, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '16', 'confidence': '0.8991'}),
 Annotation(chunk, 421, 423, SUV, {'entity': 'Test', 'sentence': '2', 'chunk': '17', 'confidence': '0.4287'}),
 Annotation(chunk, 428, 428, 4, {'entity': 'Test_Result', 'sentence': '2', 'chunk': '18', 'confidence': '0.387'}),
 Annotation(chunk, 456, 472, stage III disease, {'entity': 'Heart_Disease', 'sentence': '3', 'chunk': '19', 'confidence': '0.38300002'}),
 Annotation(chunk, 475, 477, Her, {'entity': 'Gender', 'sentence': '4', 'chunk': '20', 'confidence': '0.9999'}),
 Annotation(chunk, 486, 499, echocardiogram, {'entity': 'Test', 'sentence': '4', 'chunk': '21', 'confidence': '0.8368'}),
 Annotation(chunk, 511, 527, ejection fraction, {'entity': 'Test', 'sentence': '4', 'chunk': '22', 'confidence': '0.41855'}),
 Annotation(chunk, 532, 534, 45%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '23', 'confidence': '0.9968'}),
 Annotation(chunk, 539, 541, 49%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '24', 'confidence': '0.9952'}),
 Annotation(chunk, 545, 547, She, {'entity': 'Gender', 'sentence': '5', 'chunk': '25', 'confidence': '0.9999'}),
 Annotation(chunk, 568, 583, Oncology service, {'entity': 'Clinical_Dept', 'sentence': '5', 'chunk': '26', 'confidence': '0.8376'}),
 Annotation(chunk, 600, 611, chemotherapy, {'entity': 'Treatment', 'sentence': '5', 'chunk': '27', 'confidence': '0.9996'}),
 Annotation(chunk, 616, 632, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '28', 'confidence': '0.78999996'}),
 Annotation(chunk, 639, 647, cisplatin, {'entity': 'Drug_Ingredient', 'sentence': '5', 'chunk': '29', 'confidence': '0.9728'}),
 Annotation(chunk, 649, 664, 75 mg/centimeter, {'entity': 'Strength', 'sentence': '5', 'chunk': '30', 'confidence': '0.5273'}),
 Annotation(chunk, 683, 688, 109 mg, {'entity': 'Strength', 'sentence': '5', 'chunk': '31', 'confidence': '0.83225'}),
 Annotation(chunk, 690, 691, IV, {'entity': 'Route', 'sentence': '5', 'chunk': '32', 'confidence': '0.2896'}),
 Annotation(chunk, 703, 714, over 2 hours, {'entity': 'Duration', 'sentence': '5', 'chunk': '33', 'confidence': '0.3875667'}),
 Annotation(chunk, 719, 735, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '34', 'confidence': '0.816725'})]

In [12]:
print("Clinical Text:\n", text2)

Clinical Text:

At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma.
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy.
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%.
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007

In [13]:
get_chunk_results(clinical_full_result)

 ******************** ner_ade_clinical Model Results ********************

  sentence  begin  end                 chunks entity confidence
0        0     15   34   chest tube placement   DRUG  0.9395667
1        0     40   60  drainage of the fluid   DRUG   0.673325
2        5    600  611           chemotherapy   DRUG     0.9953
3        5    639  647              cisplatin   DRUG     0.9979
4        5    690  701           IV piggyback   DRUG    0.91265

 ******************** ner_posology_greedy Model Results ********************

  sentence  begin  end                      chunks    entity confidence
0        5    600  611                chemotherapy      DRUG     0.9973
1        5    639  664  cisplatin 75 mg/centimeter      DRUG  0.6622667
2        5    683  701         109 mg IV piggyback      DRUG    0.70225
3        5    703  714                over 2 hours  DURATION     0.6167

 ******************** ner_risk_factors Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    616  624  September    PHI     0.6544
1        5    629  632       2007    PHI     0.6873
2        5    719  727  September    PHI     0.9842
3        5    732  735       2007    PHI     0.6958

 ******************** jsl_ner_wip_clinical Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure  0.47713336
1         0     40  ...                     Procedure    0.357225
2         0     75  ...                     Procedure      0.6137
3         0     93  ...                     Procedure     0.46585
4         0    146  ...                   Oncological  0.75373334
5         1    219  ...                          Test      0.5252
6         1    240  ...                      Modifier      0.5075
7         1    250  ...               ImagingFindings      0.6767
8         1    264  ...  External_body_part_or_region      0.3257
9         1    271  ...                     Direction      0.3233
10        1    281  ...     Disease_Syndrome_Disorder      0.1796
11        1    316  ...                       Symptom      0.4471
12        2    334  ...                        Gender      0.9999
13        2    347  ...                       Symptom     0.25865
14        2    361  ...   Internal_organ_or_component       0.597
15        2    374  ...   Internal_organ_or_component      0.6812
16        2    413  ...   Internal_organ_or_component      0.8991
17        2    421  ...                          Test      0.4287
18        2    428  ...                   Test_Result       0.387
19        3    456  ...                 Heart_Disease  0.38300002
20        4    475  ...                        Gender      0.9999
21        4    486  ...                          Test      0.8368
22        4    511  ...                          Test     0.41855
23        4    532  ...                   Test_Result      0.9968
24        4    539  ...                   Test_Result      0.9952
25        5    545  ...                        Gender      0.9999
26        5    568  ...                 Clinical_Dept      0.8376
27        5    600  ...                     Treatment      0.9996
28        5    616  ...                          Date  0.78999996
29        5    639  ...               Drug_Ingredient      0.9728
30        5    649  ...                      Strength      0.5273
31        5    683  ...                      Strength     0.83225
32        5    690  ...                         Route      0.2896
33        5    703  ...                      Duration   0.3875667
34        5    719  ...                          Date    0.816725

[35 rows x 6 columns]

 ******************** ner_human_phenotype_gene_clinical Model Results ********************

  sentence  begin  end                         chunks entity  confidence
0        0     15   34           chest tube placement     HP   0.9209333
1        0    158  179         malignant mesothelioma     HP  0.99259996
2        1    271  279                      bilateral     HP      0.6767
3        1    281  309  pleural pericardial effusions     HP      0.8609
4        5    687  688                             mg   GENE      0.9999

 ******************** jsl_ner_wip_greedy_clinical Model Results ********************

   sentence  begin  ...                       entity  confidence
0         0     15  ...                    Procedure  0.44653335
1         0     75  ...                    Procedure      0.3763
2         0     93  ...                    Procedure       0.536
3         0    146  ...                  Oncological   0.6796334
4         1    219  ...                         Test      0.4704
5         1    240  ...                      Symptom      0.3656
6         1    271  ...                    Direction      0.2051
7         1    281  ...    Disease_Syndrome_Disorder   0.2968333
8         1    316  ...                      Symptom      0.9954
9         2    334  ...                       Gender      0.9987
10        2    347  ...                      Symptom      0.3258
11        2    361  ...  Internal_organ_or_component       0.808
12        2    374  ...  Internal_organ_or_component  0.42643332
13        2    413  ...  Internal_organ_or_component      0.8547
14        2    421  ...                         Test      0.4324
15        2    428  ...                  Test_Result      0.4809
16        3    456  ...    Disease_Syndrome_Disorder  0.35473335
17        4    475  ...                       Gender      0.9993
18        4    486  ...                         Test      0.7088
19        4    511  ...                         Test      0.4095
20        4    532  ...                  Test_Result  0.73753333
21        5    545  ...                       Gender      0.9996
22        5    568  ...                Clinical_Dept      0.7621
23        5    600  ...                         Drug   0.5402667
24        5    683  ...                     Strength     0.93895
25        5    690  ...                        Route      0.9497
26        5    703  ...                     Duration   0.6313333
27        5    719  ...                         Date     0.51345

[28 rows x 6 columns]

 ******************** ner_cellular Model Results ********************
No Result For This Model

 ******************** ner_cancer_genetics Model Results ********************
No Result For This Model


 ******************** jsl_ner_wip_modifier_clinical Model Results ********************

   sentence  begin  ...                       entity  confidence
0         0     15  ...                    Procedure  0.44653335
1         0     75  ...                    Procedure      0.3763
2         0     93  ...                    Procedure       0.536
3         0    146  ...                  Oncological   0.6796334
4         1    219  ...                         Test      0.4704
5         1    240  ...                      Symptom      0.3656
6         1    271  ...                    Direction      0.2051
7         1    281  ...    Disease_Syndrome_Disorder   0.2968333
8         1    316  ...                      Symptom      0.9954
9         2    334  ...                       Gender      0.9987
10        2    347  ...                      Symptom      0.3258
11        2    361  ...  Internal_organ_or_component       0.808
12        2    374  ...  Internal_organ_or_component  0.42643332
13        2    413  ...  Internal_organ_or_component      0.8547
14        2    421  ...                         Test      0.4324
15        2    428  ...                  Test_Result      0.4809
16        3    456  ...    Disease_Syndrome_Disorder  0.35473335
17        4    475  ...                       Gender      0.9993
18        4    486  ...                         Test      0.7088
19        4    511  ...                         Test      0.4095
20        4    532  ...                  Test_Result  0.73753333
21        5    545  ...                       Gender      0.9996
22        5    568  ...                Clinical_Dept      0.7621
23        5    600  ...                         Drug   0.5402667
24        5    683  ...                     Strength     0.93895
25        5    690  ...                        Route      0.9497
26        5    703  ...                     Duration   0.6313333
27        5    719  ...                         Date     0.51345

[28 rows x 6 columns]

 ******************** ner_drugs_greedy Model Results ********************

  sentence  begin  end                              chunks entity confidence
0        5    600  611                        chemotherapy   DRUG     0.9914
1        5    639  672  cisplatin 75 mg/centimeter squared   DRUG   0.703425

 ******************** ner_deid_sd_large Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE     0.99325
1        5    719  735  September 1, 2007   DATE  0.68530005

 ******************** ner_diseases Model Results ********************

  sentence  begin  ...   entity  confidence
0        0     52  ...  Disease      0.9232
1        0    146  ...  Disease  0.89739996
2        1    240  ...  Disease  0.74549997
3        1    271  ...  Disease  0.86249995
4        1    316  ...  Disease         1.0
5        2    347  ...  Disease     0.94505
6        3    456  ...  Disease      0.8548

[7 rows x 6 columns]

 ******************** nerdl_tumour_demo Model Results ********************
No Result For This Model


 ******************** ner_deid_subentity_augmented Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.96442497
1        5    719  735  September 1, 2007   DATE      0.9955

 ******************** ner_jsl_enriched Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure   0.5693333
1         0     40  ...                       Symptom  0.29297498
2         0     75  ...                     Procedure        0.96
3         0     93  ...                     Procedure     0.94735
4         0    146  ...                   Oncological   0.7318334
5         1    219  ...                          Test      0.6488
6         1    240  ...               ImagingFindings      0.4335
7         1    264  ...  External_body_part_or_region      0.4747
8         1    271  ...                     Direction      0.4243
9         1    281  ...     Disease_Syndrome_Disorder   0.5594333
10        1    316  ...                       Symptom      0.9982
11        2    334  ...                        Gender      0.9999
12        2    347  ...                       Symptom     0.27975
13        2    361  ...   Internal_organ_or_component      0.9722
14        2    374  ...   Internal_organ_or_component  0.39656666
15        2    413  ...   Internal_organ_or_component      0.3426
16        2    421  ...                          Test      0.9384
17        2    428  ...                   Test_Result     0.34035
18        3    456  ...     Disease_Syndrome_Disorder      0.4574
19        4    475  ...                        Gender      0.9999
20        4    486  ...                          Test       0.765
21        4    511  ...                          Test      0.5019
22        4    532  ...                   Test_Result     0.33285
23        5    545  ...                        Gender         1.0
24        5    568  ...                 Clinical_Dept     0.83715
25        5    600  ...                     Treatment      0.9958
26        5    616  ...                          Date    0.674525
27        5    639  ...               Drug_Ingredient      0.5414
28        5    649  ...                      Strength     0.54245
29        5    683  ...                      Strength  0.84284997
30        5    690  ...                         Route      0.1408
31        5    703  ...                      Duration   0.5271333
32        5    719  ...                          Date    0.427975

[33 rows x 6 columns]

 ******************** ner_genetic_variants Model Results ********************
No Result For This Model


 ******************** ner_bionlp Model Results ********************

   sentence  begin  ...                  entity  confidence
0         0     15  ...                  Tissue      0.8105
1         0    146  ...                  Cancer   0.9968333
2         1    187  ...                Organism      0.9997
3         1    264  ...    Organism_subdivision      0.9994
4         1    281  ...  Multi-tissue_structure      0.8646
5         2    334  ...                Organism       0.952
6         2    361  ...  Multi-tissue_structure      0.9677
7         2    374  ...  Multi-tissue_structure  0.99913335
8         2    413  ...    Organism_subdivision      0.9994
9         5    545  ...                Organism      0.9756
10        5    639  ...         Simple_chemical         1.0

[11 rows x 6 columns]

 ******************** ner_measurements_clinical Model Results ********************

  sentence  begin  end      chunks        entity confidence
0        4    532  541  45% to 49%  Measurements     0.7668
1        5    683  685         109  Measurements     0.5772
2        5    687  688          mg         Units      0.995

 ******************** ner_diseases_large Model Results ********************

  sentence  begin  ...   entity confidence
0        0    168  ...  Disease     0.9982
1        1    264  ...  Disease    0.78775
2        1    316  ...  Disease     0.9999

[3 rows x 6 columns]

 ******************** ner_radiology Model Results ********************

   sentence  begin  ...                     entity  confidence
0         0     15  ...                  Procedure   0.5284667
1         0     40  ...                  Procedure    0.687325
2         0     75  ...                  Procedure      0.8974
3         0     93  ...                  Procedure     0.72385
4         0    146  ...  Disease_Syndrome_Disorder   0.7949667
5         1    219  ...                ImagingTest      0.7396
6         1    240  ...            ImagingFindings      0.9287
7         1    264  ...                   BodyPart      0.8663
8         1    271  ...                   BodyPart      0.7275
9         1    301  ...            ImagingFindings       0.967
10        1    316  ...            ImagingFindings      0.9992
11        2    347  ...                    Symptom     0.65565
12        2    361  ...                   BodyPart       0.879
13        2    374  ...                   BodyPart      0.6058
14        2    403  ...              OtherFindings      0.9095
15        2    413  ...                   BodyPart      0.9829
16        2    421  ...                       Test      0.9967
17        3    456  ...  Disease_Syndrome_Disorder  0.84886664
18        4    486  ...                ImagingTest       0.686
19        4    511  ...              OtherFindings  0.79515004
20        4    532  ...               Measurements       0.807
21        4    539  ...               Measurements      0.9906
22        5    649  ...               Measurements      0.9092
23        5    652  ...                      Units      0.9723
24        5    683  ...               Measurements      0.9886
25        5    687  ...                      Units      0.4271

[26 rows x 6 columns]

 ******************** ner_deid_augmented Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.87647504
1        5    719  735  September 1, 2007   DATE    0.644275

 ******************** ner_anatomy Model Results ********************

  sentence  begin  ...                  entity  confidence
0        0     56  ...      Organism_substance      0.9954
1        0     93  ...      Organism_substance      0.8569
2        0    168  ...  Pathological_formation         1.0
3        1    281  ...  Multi-tissue_structure  0.85146666
4        2    354  ...      Organism_substance      0.9468
5        2    361  ...                   Organ      0.9922
6        2    387  ...  Multi-tissue_structure  0.95570004

[7 rows x 6 columns]

 ******************** ner_chemprot_clinical Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        1    223  224         CT  CHEMICAL        1.0
1        5    639  647  cisplatin  CHEMICAL     0.9965

 ******************** ner_posology_experimental Model Results ********************

  sentence  begin  end                             chunks    entity confidence
0        5    600  611                       chemotherapy      Drug     0.9582
1        5    639  647                          cisplatin      Drug     0.9524
2        5    649  681  75 mg/centimeter squared equaling  Strength   0.702325
3        5    683  688                             109 mg  Strength    0.87465
4        5    690  691                                 IV     Route     0.8491

 ******************** ner_drugs Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        5    639  647  cisplatin  DrugChem      0.809

 ******************** ner_deid_sd Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE    0.969225
1        5    719  735  September 1, 2007   DATE  0.76487505

 ******************** ner_posology_large Model Results ********************

  sentence  begin  end                    chunks    entity  confidence
0        5    600  611              chemotherapy      DRUG      0.9887
1        5    639  647                 cisplatin      DRUG      0.9318
2        5    649  672  75 mg/centimeter squared  STRENGTH   0.5517667
3        5    683  688                    109 mg  STRENGTH  0.71204996
4        5    690  691                        IV     ROUTE      0.7734
5        5    693  701                 piggyback      DRUG      0.8223
6        5    703  714              over 2 hours  DURATION   0.7744333

 ******************** ner_deid_large Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.99307495
1        5    719  735  September 1, 2007   DATE    0.990125

 ******************** ner_posology Model Results ********************

  sentence  begin  end            chunks    entity  confidence
0        5    600  611      chemotherapy      DRUG      0.6118
1        5    639  647         cisplatin      DRUG      0.5127
2        5    649  664  75 mg/centimeter  STRENGTH     0.45515
3        5    683  688            109 mg  STRENGTH     0.83745
4        5    690  691                IV     ROUTE       0.557
5        5    693  701         piggyback      DRUG      0.8846
6        5    703  714      over 2 hours  DURATION  0.59816664

 ******************** ner_deidentify_dl Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.98592496
1        5    719  735  September 1, 2007   DATE     0.87795

 ******************** ner_deid_enriched Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE    0.865125
1        5    719  735  September 1, 2007   DATE  0.73770005

 ******************** ner_bacterial_species Model Results ********************
No Result For This Model


 ******************** ner_drugs_large Model Results ********************

  sentence  begin  ...  entity confidence
0        5    600  ...    DRUG     0.9998
1        5    639  ...    DRUG  0.7528875

[2 rows x 6 columns]

 ******************** ner_clinical_large Model Results ********************

   sentence  begin  ...     entity  confidence
0         0     15  ...  TREATMENT      0.9725
1         0     40  ...    PROBLEM    0.760425
2         0     75  ...  TREATMENT      0.9984
3         0     93  ...       TEST  0.99695003
4         0    146  ...    PROBLEM      0.9826
5         1    217  ...       TEST   0.9643667
6         1    240  ...    PROBLEM     0.92226
7         1    271  ...    PROBLEM  0.97917503
8         1    316  ...    PROBLEM         1.0
9         2    347  ...    PROBLEM     0.89145
10        2    361  ...    PROBLEM  0.76280004
11        2    403  ...    PROBLEM   0.8764667
12        2    421  ...       TEST      0.9995
13        3    456  ...    PROBLEM      0.7051
14        4    475  ...       TEST  0.81553334
15        4    508  ...       TEST   0.8851333
16        5    600  ...  TREATMENT      0.9999
17        5    639  ...  TREATMENT      0.9978
18        5    690  ...  TREATMENT     0.99465

[19 rows x 6 columns]

 ******************** jsl_rd_ner_wip_greedy_clinical Model Results ********************

   sentence  begin  ...                     entity  confidence
0         0     15  ...                  Procedure  0.41369998
1         0     40  ...                    Symptom  0.20915002
2         0     75  ...                  Procedure      0.5532
3         0     93  ...                  Procedure      0.4666
4         0    146  ...                Oncological      0.6659
5         1    219  ...                ImagingTest      0.5789
6         1    240  ...            ImagingFindings     0.26495
7         1    264  ...                   BodyPart      0.6504
8         1    271  ...                  Direction      0.1374
9         1    281  ...  Disease_Syndrome_Disorder      0.2385
10        1    316  ...                    Symptom      0.5969
11        2    334  ...                     Gender      0.9995
12        2    347  ...                    Symptom      0.1501
13        2    361  ...                   BodyPart      0.3232
14        2    374  ...                   BodyPart  0.26616666
15        2    413  ...                   BodyPart      0.4924
16        2    421  ...                       Test      0.1677
17        2    428  ...                Test_Result      0.4804
18        3    456  ...  Disease_Syndrome_Disorder  0.19513333
19        4    475  ...                     Gender      0.9993
20        4    486  ...                ImagingTest      0.3531
21        4    511  ...                       Test      0.1979
22        4    532  ...                Test_Result   0.7469333
23        5    545  ...                     Gender      0.9994
24        5    568  ...              Clinical_Dept  0.85185003
25        5    600  ...                  Treatment      0.9995
26        5    616  ...                       Date     0.74775
27        5    639  ...                       Drug     0.55315
28        5    683  ...                   Strength     0.85655
29        5    690  ...                      Route      0.3799
30        5    703  ...                  Frequency  0.44113335
31        5    719  ...                       Date  0.84035003

[32 rows x 6 columns]

 ******************** ner_medmentions_coarse Model Results ********************

   sentence  begin  ...                                entity  confidence
0         0     15  ...   Therapeutic_or_Preventive_Procedure      0.5349
1         0     40  ...   Therapeutic_or_Preventive_Procedure      0.6862
2         0     56  ...                        Body_Substance      0.7019
3         0     75  ...                  Diagnostic_Procedure      0.9407
4         0     93  ...                  Diagnostic_Procedure     0.92415
5         0    146  ...                    Neoplastic_Process      0.7853
6         1    219  ...                  Diagnostic_Procedure  0.78690004
7         1    264  ...               Body_Location_or_Region      0.9984
8         1    271  ...                   Disease_or_Syndrome      0.6155
9         1    316  ...                   Disease_or_Syndrome      0.9999
10        2    347  ...                              Chemical  0.64715004
11        2    361  ...  Body_Part,_Organ,_or_Organ_Component      0.7727
12        2    374  ...  Body_Part,_Organ,_or_Organ_Component   0.7227333
13        2    403  ...                     Biologic_Function      0.9985
14        2    413  ...  Body_Part,_Organ,_or_Organ_Component      0.9864
15        2    421  ...                  Quantitative_Concept      0.9342
16        3    456  ...                   Disease_or_Syndrome   0.5832333
17        4    479  ...                  Diagnostic_Procedure     0.63245
18        4    511  ...                    Clinical_Attribute      0.6306
19        5    568  ...                          Organization     0.61835
20        5    600  ...   Therapeutic_or_Preventive_Procedure      0.8391
21        5    639  ...               Pharmacologic_Substance      0.9466

[22 rows x 6 columns]

 ******************** ner_radiology_wip_clinical Model Results ********************

   sentence  begin  ...                     entity  confidence
0         0     15  ...                  Procedure  0.47996664
1         0     40  ...                  Procedure     0.60895
2         0     75  ...                  Procedure      0.7373
3         0     93  ...                  Procedure  0.90129995
4         0    158  ...  Disease_Syndrome_Disorder  0.85045004
5         1    219  ...                ImagingTest      0.8061
6         1    240  ...            ImagingFindings      0.6484
7         1    264  ...                   BodyPart      0.9478
8         1    271  ...                  Direction      0.6963
9         1    281  ...                   BodyPart  0.74590003
10        1    301  ...            ImagingFindings      0.8914
11        1    316  ...            ImagingFindings      0.9982
12        2    347  ...                    Symptom     0.55895
13        2    361  ...                   BodyPart      0.9612
14        2    374  ...                   BodyPart  0.45383334
15        2    413  ...                   BodyPart      0.7418
16        2    421  ...                       Test      0.9503
17        2    428  ...               Measurements      0.8406
18        3    456  ...  Disease_Syndrome_Disorder   0.6633666
19        4    486  ...                ImagingTest      0.6742
20        4    511  ...              OtherFindings  0.75528336
21        5    649  ...               Measurements      0.3178
22        5    652  ...                      Units      0.9723
23        5    683  ...               Measurements      0.7209
24        5    687  ...                      Units      0.9722

[25 rows x 6 columns]

 ******************** ner_clinical Model Results ********************

   sentence  begin  ...     entity  confidence
0         0     15  ...  TREATMENT      0.9725
1         0     40  ...    PROBLEM    0.760425
2         0     75  ...  TREATMENT      0.9984
3         0     93  ...       TEST  0.99695003
4         0    146  ...    PROBLEM      0.9826
5         1    217  ...       TEST   0.9643667
6         1    240  ...    PROBLEM     0.92226
7         1    271  ...    PROBLEM  0.97917503
8         1    316  ...    PROBLEM         1.0
9         2    347  ...    PROBLEM     0.89145
10        2    361  ...    PROBLEM  0.76280004
11        2    403  ...    PROBLEM   0.8764667
12        2    421  ...       TEST      0.9995
13        3    456  ...    PROBLEM      0.7051
14        4    475  ...       TEST  0.81553334
15        4    508  ...       TEST   0.8851333
16        5    600  ...  TREATMENT      0.9999
17        5    639  ...  TREATMENT      0.9978
18        5    690  ...  TREATMENT     0.99465

[19 rows x 6 columns]

 ******************** ner_chexpert Model Results ********************

   sentence  begin  end           chunks entity confidence
0         0     21   24             tube    OBS     0.9857
1         0     26   34        placement    OBS     0.7814
2         0     40   47         drainage    OBS     0.6317
3         0    146  156      epithelioid    OBS     0.9895
4         0    158  166        malignant    OBS     0.9895
5         0    168  179     mesothelioma    OBS        1.0
6         1    240  248        extensive    OBS     0.9359
7         1    271  279        bilateral   ANAT        1.0
8         1    281  287          pleural   ANAT        1.0
9         1    289  299      pericardial   ANAT     0.9999
10        1    301  309        effusions    OBS        1.0
11        1    316  330  lymphadenopathy    OBS        1.0
12        2    347  352           acidic    OBS     0.9986
13        2    354  358            fluid    OBS     0.9356
14        2    361  368         pectoral   ANAT     0.9606
15        2    374  385     intramammary   ANAT     0.9513
16        2    387  391            lymph    OBS      0.745
17        2    393  397            nodes    OBS      0.999

 ******************** ner_chemicals Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    639  647  cisplatin   CHEM     0.9964

 ******************** ner_deid_synthetic Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.995875
1        5    719  735  September 1, 2007   DATE    0.91525

 ******************** ner_events_clinical Model Results ********************

   sentence  begin  ...         entity  confidence
0         0      4  ...           DATE     0.87885
1         0     15  ...      TREATMENT   0.8584333
2         0     40  ...      TREATMENT      0.7534
3         0     52  ...        PROBLEM     0.78495
4         0     75  ...           TEST      0.9861
5         0     93  ...           TEST     0.61525
6         0    137  ...     EVIDENTIAL      0.8977
7         0    146  ...        PROBLEM   0.9076333
8         1    204  ...           TEST      0.9806
9         1    217  ...           TEST   0.7496667
10        1    233  ...     EVIDENTIAL       0.448
11        1    240  ...        PROBLEM     0.89012
12        1    271  ...        PROBLEM  0.89220005
13        1    316  ...        PROBLEM      0.9999
14        2    347  ...        PROBLEM   0.6842375
15        2    403  ...        PROBLEM   0.8086333
16        2    421  ...           TEST      0.9963
17        3    456  ...        PROBLEM      0.8611
18        4    475  ...           TEST   0.8808333
19        4    501  ...     EVIDENTIAL      0.8419
20        4    508  ...           TEST      0.6796
21        5    553  ...     OCCURRENCE      0.8234
22        5    568  ...  CLINICAL_DEPT       0.869
23        5    600  ...      TREATMENT      0.9972
24        5    616  ...           DATE    0.575525
25        5    639  ...      TREATMENT      0.5584
26        5    690  ...      TREATMENT     0.97725
27        5    708  ...       DURATION     0.84945
28        5    719  ...           DATE    0.711575

[29 rows x 6 columns]

 ******************** ner_posology_small Model Results ********************

  sentence  begin  end        chunks    entity  confidence
0        5    600  611  chemotherapy      DRUG      0.9971
1        5    639  647     cisplatin      DRUG         1.0
2        5    649  650            75  STRENGTH      0.9528
3        5    683  688        109 mg  STRENGTH  0.99660003
4        5    690  691            IV     ROUTE      0.9294
5        5    693  701     piggyback      FORM      0.9655
6        5    703  714  over 2 hours  DURATION      0.7073

 ******************** ner_anatomy_coarse Model Results ********************

  sentence  begin  ...   entity confidence
0        0     15  ...  Anatomy     0.9934
1        0     56  ...  Anatomy     0.9889
2        0     93  ...  Anatomy     0.8696
3        0    146  ...  Anatomy  0.6808667
4        1    264  ...  Anatomy     0.7048
5        1    271  ...  Anatomy    0.93055
6        2    354  ...  Anatomy     0.8918
7        2    361  ...  Anatomy      0.597
8        2    374  ...  Anatomy  0.9641667

[9 rows x 6 columns]

 ******************** ner_human_phenotype_go_clinical Model Results ********************

  sentence  begin  end                chunks entity  confidence
0        0     15   34  chest tube placement     GO  0.69493335
1        0    168  179          mesothelioma     HP         1.0
2        1    271  279             bilateral     HP       0.997
3        1    316  330       lymphadenopathy     HP         1.0

 ******************** ner_jsl_slim Model Results ********************

   sentence  begin  ...                     entity  confidence
0         0     15  ...                  Procedure      0.7166
1         0     40  ...                  Procedure  0.55492496
2         0     75  ...                  Procedure      0.9837
3         0     93  ...                  Procedure      0.8106
4         0    146  ...                Oncological   0.7731333
5         1    219  ...                       Test      0.7005
6         1    240  ...                    Symptom     0.56744
7         1    281  ...  Disease_Syndrome_Disorder      0.5818
8         1    316  ...                    Symptom      0.9986
9         2    334  ...               Demographics      0.9986
10        2    347  ...                    Symptom  0.36519998
11        2    361  ...                  Body_Part      0.7501
12        2    374  ...                  Body_Part  0.62483335
13        2    413  ...                  Body_Part       0.935
14        3    456  ...  Disease_Syndrome_Disorder  0.61536664
15        4    475  ...               Demographics      0.9996
16        4    486  ...                       Test      0.8917
17        4    511  ...                       Test      0.8564
18        4    532  ...                Test_Result  0.73906666
19        5    545  ...               Demographics      0.9993
20        5    568  ...              Clinical_Dept      0.7393
21        5    600  ...                       Drug   0.5892556
22        5    719  ...                  Date_Time     0.58485

[23 rows x 6 columns]

 ******************** ner_jsl Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure  0.47713336
1         0     40  ...                     Procedure    0.357225
2         0     75  ...                     Procedure      0.6137
3         0     93  ...                     Procedure     0.46585
4         0    146  ...                   Oncological  0.75373334
5         1    219  ...                          Test      0.5252
6         1    240  ...                      Modifier      0.5075
7         1    250  ...               ImagingFindings      0.6767
8         1    264  ...  External_body_part_or_region      0.3257
9         1    271  ...                     Direction      0.3233
10        1    281  ...     Disease_Syndrome_Disorder      0.1796
11        1    316  ...                       Symptom      0.4471
12        2    334  ...                        Gender      0.9999
13        2    347  ...                       Symptom     0.25865
14        2    361  ...   Internal_organ_or_component       0.597
15        2    374  ...   Internal_organ_or_component      0.6812
16        2    413  ...   Internal_organ_or_component      0.8991
17        2    421  ...                          Test      0.4287
18        2    428  ...                   Test_Result       0.387
19        3    456  ...                 Heart_Disease  0.38300002
20        4    475  ...                        Gender      0.9999
21        4    486  ...                          Test      0.8368
22        4    511  ...                          Test     0.41855
23        4    532  ...                   Test_Result      0.9968
24        4    539  ...                   Test_Result      0.9952
25        5    545  ...                        Gender      0.9999
26        5    568  ...                 Clinical_Dept      0.8376
27        5    600  ...                     Treatment      0.9996
28        5    616  ...                          Date  0.78999996
29        5    639  ...               Drug_Ingredient      0.9728
30        5    649  ...                      Strength      0.5273
31        5    683  ...                      Strength     0.83225
32        5    690  ...                         Route      0.2896
33        5    703  ...                      Duration   0.3875667
34        5    719  ...                          Date    0.816725

[35 rows x 6 columns]

 ******************** ner_jsl_greedy Model Results ********************

   sentence  begin  ...                       entity  confidence
0         0     15  ...                    Procedure  0.44653335
1         0     75  ...                    Procedure      0.3763
2         0     93  ...                    Procedure       0.536
3         0    146  ...                  Oncological   0.6796334
4         1    219  ...                         Test      0.4704
5         1    240  ...                      Symptom      0.3656
6         1    271  ...                    Direction      0.2051
7         1    281  ...    Disease_Syndrome_Disorder   0.2968333
8         1    316  ...                      Symptom      0.9954
9         2    334  ...                       Gender      0.9987
10        2    347  ...                      Symptom      0.3258
11        2    361  ...  Internal_organ_or_component       0.808
12        2    374  ...  Internal_organ_or_component  0.42643332
13        2    413  ...  Internal_organ_or_component      0.8547
14        2    421  ...                         Test      0.4324
15        2    428  ...                  Test_Result      0.4809
16        3    456  ...    Disease_Syndrome_Disorder  0.35473335
17        4    475  ...                       Gender      0.9993
18        4    486  ...                         Test      0.7088
19        4    511  ...                         Test      0.4095
20        4    532  ...                  Test_Result  0.73753333
21        5    545  ...                       Gender      0.9996
22        5    568  ...                Clinical_Dept      0.7621
23        5    600  ...                         Drug   0.5402667
24        5    683  ...                     Strength     0.93895
25        5    690  ...                        Route      0.9497
26        5    703  ...                     Duration   0.6313333
27        5    719  ...                         Date     0.51345

[28 rows x 6 columns]

 ******************** ner_events_admission_clinical Model Results ********************

   sentence  begin  ...         entity  confidence
0         0     15  ...      TREATMENT   0.9220667
1         0     40  ...      TREATMENT    0.607525
2         0     75  ...           TEST      0.9681
3         0     93  ...           TEST      0.9662
4         0    137  ...     EVIDENTIAL      0.9724
5         0    146  ...        PROBLEM  0.89350003
6         1    204  ...        PROBLEM      0.9988
7         1    217  ...           TEST      0.8358
8         1    233  ...     EVIDENTIAL      0.5184
9         1    240  ...        PROBLEM     0.70932
10        1    271  ...        PROBLEM    0.875125
11        1    316  ...        PROBLEM      0.9989
12        2    347  ...        PROBLEM   0.5867375
13        2    403  ...        PROBLEM   0.7606333
14        2    421  ...           TEST       0.992
15        3    456  ...        PROBLEM  0.87976664
16        4    475  ...           TEST      0.8502
17        4    501  ...     EVIDENTIAL      0.5542
18        4    508  ...           TEST   0.5543333
19        5    553  ...     OCCURRENCE      0.7089
20        5    568  ...  CLINICAL_DEPT     0.99835
21        5    600  ...      TREATMENT      0.9992
22        5    616  ...           DATE      0.9256
23        5    639  ...      TREATMENT      0.9895
24        5    703  ...      FREQUENCY   0.7853667
25        5    719  ...           DATE  0.72365004

[26 rows x 6 columns]

**Now we will show all NER labels of tokens in the same dataframe.**

In [14]:
import pandas as pd

def get_token_results(light_result):

  tokens = [j.result for j in light_result["token"]]
  sentences = [j.metadata["sentence"] for j in light_result["token"]]
  begins = [j.begin for j in light_result["token"]]
  ends = [j.end for j in light_result["token"]]
  model_list = [ a for a in light_result.keys() if (a not in ["sentence", "token"] and "_chunks" not in a)]

  df = pd.DataFrame({'sentence':sentences, 'begin': begins, 'end': ends, 'token':tokens})

  for model_name in model_list:
    
    temp_df = pd.DataFrame(light_result[model_name])
    temp_df["jsl_label"] = temp_df.iloc[:,0].apply(lambda x : x.result)
    temp_df = temp_df[["jsl_label"]]

    # temp_df = get_ner_result(model_name)
    temp_df.columns = [model_name]
    df = pd.concat([df, temp_df], axis=1)
    
  return df

In [15]:
get_token_results(clinical_full_result)

    sentence  begin  end  ... ner_genetic_variants ner_radiology ner_posology
0          0      1    2  ...                    O             O            O
1          0      4    7  ...                    O             O            O
2          0      9   12  ...                    O             O            O
3          0     13   13  ...                    O             O            O
4          0     15   19  ...                    O   B-Procedure            O
..       ...    ...  ...  ...                  ...           ...          ...
123        5    716  717  ...                    O             O            O
124        5    719  727  ...                    O             O            O
125        5    729  729  ...                    O             O            O
126        5    730  730  ...                    O             O            O
127        5    732  735  ...                    O             O            O

[128 rows x 53 columns]

# BioBert NER Model Profiling Pretrained Pipeline

This pipeline can be used to explore all the available pretrained NER models at once. When you run this pipeline over your text, you will end up with the predictions coming out of each pretrained clinical NER model trained with `biobert_pubmed_base_cased`.

|BioBert NER Model List|
|-|
|ner_cellular_biobert|
|ner_diseases_biobert|
|ner_events_biobert|
|ner_bionlp_biobert|
|ner_jsl_greedy_biobert|
|ner_jsl_biobert|
|ner_anatomy_biobert|
|ner_jsl_enriched_biobert|
|ner_human_phenotype_go_biobert|
|ner_deid_biobert|
|ner_deid_enriched_biobert|
|ner_clinical_biobert|
|ner_anatomy_coarse_biobert|
|ner_human_phenotype_gene_biobert|
|ner_posology_large_biobert|
|jsl_rd_ner_wip_greedy_biobert|
|ner_posology_biobert|
|jsl_ner_wip_greedy_biobert|
|ner_chemprot_biobert|
|ner_ade_biobert|
|ner_risk_factors_biobert|

You can check [Models Hub](https://nlp.johnsnowlabs.com/models) page for more information about all these models and more.

In [16]:
from sparknlp.pretrained import PretrainedPipeline

biobert_profiling_pipeline = PretrainedPipeline("ner_profiling_biobert", "en", "clinical/models")

ner_profiling_biobert download started this may take some time.
Approx size to download 715.3 MB
[OK!]

In [17]:
bio_result = biobert_profiling_pipeline.annotate(text)
bio_result.keys()

dict_keys(['ner_ade_biobert', 'ner_cellular_biobert_chunks', 'ner_human_phenotype_go_biobert', 'ner_events_biobert', 'ner_diseases_biobert_chunks', 'ner_events_biobert_chunks', 'jsl_ner_wip_greedy_biobert', 'ner_bionlp_biobert_chunks', 'ner_bionlp_biobert', 'ner_jsl_greedy_biobert_chunks', 'ner_jsl_biobert_chunks', 'ner_jsl_biobert', 'ner_anatomy_biobert_chunks', 'ner_posology_large_biobert', 'ner_jsl_enriched_biobert_chunks', 'jsl_rd_ner_wip_greedy_biobert', 'ner_human_phenotype_go_biobert_chunks', 'ner_posology_biobert', 'ner_deid_biobert_chunks', 'ner_jsl_greedy_biobert', 'ner_chemprot_biobert', 'ner_deid_enriched_biobert_chunks', 'ner_jsl_enriched_biobert', 'token', 'ner_deid_biobert', 'ner_clinical_biobert_chunks', 'ner_human_phenotype_gene_biobert', 'ner_anatomy_coarse_biobert_chunks', 'ner_human_phenotype_gene_biobert_chunks', 'ner_posology_large_biobert_chunks', 'jsl_rd_ner_wip_greedy_biobert_chunks', 'ner_posology_biobert_chunks', 'ner_clinical_biobert', 'ner_diseases_biobert', 'jsl_ner_wip_greedy_biobert_chunks', 'ner_chemprot_biobert_chunks', 'ner_ade_biobert_chunks', 'ner_anatomy_coarse_biobert', 'ner_cellular_biobert', 'ner_risk_factors_biobert_chunks', 'ner_anatomy_biobert', 'ner_deid_enriched_biobert', 'ner_risk_factors_biobert', 'sentence'])

In [18]:
print("Clinical Text: \n", text, "\n \nResults:\n")

for i in bio_result.keys():
  print("{} : ".format(i), bio_result[i])

Clinical Text:
 A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .

Results:

ner_ade_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'B-ADE', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'B-ADE', 'O']
ner_cellular_biobert_chunks :  []
ner_human_phenotype_go_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_events_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'B-OCCURRENCE', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_diseases_biobert_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_events_biobert_chunks :  ['gestational diabetes mellitus', 'eight years', 'presentation', 'type two diabetes mellitus ( T2DM', 'HTG-induced pancreatitis', 'three years', 'presentation', 'an acute hepatitis', 'obesity', 'a body mass index', 'BMI', 'presented', 'a one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
jsl_ner_wip_greedy_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Pregnancy', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_bionlp_biobert_chunks :  []
ner_bionlp_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_greedy_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_jsl_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_jsl_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Modifier', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_anatomy_biobert_chunks :  ['body']
ner_posology_large_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_enriched_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting .']
jsl_rd_ner_wip_greedy_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'B-Measurements', 'B-Units', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_human_phenotype_go_biobert_chunks :  ['obesity', 'polyuria', 'polydipsia']
ner_posology_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_biobert_chunks :  ['eight years', 'three years']
ner_jsl_greedy_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Pregnancy', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_chemprot_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_enriched_biobert_chunks :  []
ner_jsl_enriched_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'O', 'B-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Modifier', 'B-Diagnosis', 'O', 'O', 'B-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom_Name', 'O', 'B-Symptom_Name', 'O', 'B-Symptom_Name', 'I-Symptom_Name', 'O', 'O', 'B-Symptom_Name', 'I-Symptom_Name']
token :  ['A', '28-year-old', 'female', 'with', 'a', 'history', 'of', 'gestational', 'diabetes', 'mellitus', 'diagnosed', 'eight', 'years', 'prior', 'to', 'presentation', 'and', 'subsequent', 'type', 'two', 'diabetes', 'mellitus', '(', 'T2DM', '),', 'one', 'prior', 'episode', 'of', 'HTG-induced', 'pancreatitis', 'three', 'years', 'prior', 'to', 'presentation', ',', 'associated', 'with', 'an', 'acute', 'hepatitis', ',', 'and', 'obesity', 'with', 'a', 'body', 'mass', 'index', '(', 'BMI', ')', 'of', '33.5', 'kg/m2', ',', 'presented', 'with', 'a', 'one-week', 'history', 'of', 'polyuria', ',', 'polydipsia', ',', 'poor', 'appetite', ',', 'and', 'vomiting', '.']
ner_deid_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_clinical_biobert_chunks :  ['gestational diabetes mellitus', 'subsequent type two diabetes mellitus ( T2DM', 'HTG-induced pancreatitis', 'an acute hepatitis', 'obesity', 'a body mass index ( BMI )', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_human_phenotype_gene_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O']
ner_anatomy_coarse_biobert_chunks :  ['body']
ner_human_phenotype_gene_biobert_chunks :  ['obesity', 'mass', 'polyuria', 'polydipsia', 'vomiting']
ner_posology_large_biobert_chunks :  []
jsl_rd_ner_wip_greedy_biobert_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute hepatitis', 'obesity', 'body mass index', '33.5', 'kg/m2', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_posology_biobert_chunks :  []
ner_clinical_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_diseases_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'I-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'B-Disease', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'B-Disease', 'O']
jsl_ner_wip_greedy_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_chemprot_biobert_chunks :  []
ner_ade_biobert_chunks :  ['pancreatitis', 'acute hepatitis', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_anatomy_coarse_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Anatomy', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_cellular_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_risk_factors_biobert_chunks :  ['diabetes mellitus', 'subsequent type two diabetes mellitus', 'obesity']
ner_anatomy_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Organism_subdivision', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_enriched_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_risk_factors_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-OBESE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
sentence :  ['A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .']

In [19]:
bio_full_result = biobert_profiling_pipeline.fullAnnotate(text2)[0]

In [20]:
bio_full_result['ner_jsl_biobert_chunks']

[Annotation(chunk, 15, 34, chest tube placement, {'entity': 'Procedure', 'sentence': '0', 'chunk': '0', 'confidence': '0.6034'}),
 Annotation(chunk, 40, 60, drainage of the fluid, {'entity': 'Symptom', 'sentence': '0', 'chunk': '1', 'confidence': '0.37260002'}),
 Annotation(chunk, 75, 86, thoracoscopy, {'entity': 'Procedure', 'sentence': '0', 'chunk': '2', 'confidence': '0.411'}),
 Annotation(chunk, 93, 106, fluid biopsies, {'entity': 'Procedure', 'sentence': '0', 'chunk': '3', 'confidence': '0.57705003'}),
 Annotation(chunk, 146, 179, epithelioid malignant mesothelioma, {'entity': 'Oncological', 'sentence': '0', 'chunk': '4', 'confidence': '0.53636664'}),
 Annotation(chunk, 219, 224, PET CT, {'entity': 'Test', 'sentence': '1', 'chunk': '5', 'confidence': '0.6016'}),
 Annotation(chunk, 240, 255, extensive uptake, {'entity': 'ImagingFindings', 'sentence': '1', 'chunk': '6', 'confidence': '0.33130002'}),
 Annotation(chunk, 264, 268, chest, {'entity': 'External_body_part_or_region', 'sentence': '1', 'chunk': '7', 'confidence': '0.5029'}),
 Annotation(chunk, 271, 279, bilateral, {'entity': 'Direction', 'sentence': '1', 'chunk': '8', 'confidence': '0.3056'}),
 Annotation(chunk, 281, 309, pleural pericardial effusions, {'entity': 'Disease_Syndrome_Disorder', 'sentence': '1', 'chunk': '9', 'confidence': '0.19996667'}),
 Annotation(chunk, 316, 330, lymphadenopathy, {'entity': 'Symptom', 'sentence': '1', 'chunk': '10', 'confidence': '0.4677'}),
 Annotation(chunk, 334, 336, She, {'entity': 'Gender', 'sentence': '2', 'chunk': '11', 'confidence': '0.9999'}),
 Annotation(chunk, 347, 358, acidic fluid, {'entity': 'Symptom', 'sentence': '2', 'chunk': '12', 'confidence': '0.3322'}),
 Annotation(chunk, 361, 368, pectoral, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '13', 'confidence': '0.8213'}),
 Annotation(chunk, 374, 397, intramammary lymph nodes, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '14', 'confidence': '0.47376665'}),
 Annotation(chunk, 403, 414, uptake in L4, {'entity': 'ImagingFindings', 'sentence': '2', 'chunk': '15', 'confidence': '0.49703336'}),
 Annotation(chunk, 421, 423, SUV, {'entity': 'Test', 'sentence': '2', 'chunk': '16', 'confidence': '0.395'}),
 Annotation(chunk, 428, 428, 4, {'entity': 'Test_Result', 'sentence': '2', 'chunk': '17', 'confidence': '0.4658'}),
 Annotation(chunk, 456, 464, stage III, {'entity': 'Modifier', 'sentence': '3', 'chunk': '18', 'confidence': '0.3446'}),
 Annotation(chunk, 466, 472, disease, {'entity': 'Oncological', 'sentence': '3', 'chunk': '19', 'confidence': '0.3096'}),
 Annotation(chunk, 475, 477, Her, {'entity': 'Gender', 'sentence': '4', 'chunk': '20', 'confidence': '1.0'}),
 Annotation(chunk, 486, 499, echocardiogram, {'entity': 'Test', 'sentence': '4', 'chunk': '21', 'confidence': '0.9013'}),
 Annotation(chunk, 511, 527, ejection fraction, {'entity': 'Test', 'sentence': '4', 'chunk': '22', 'confidence': '0.3824'}),
 Annotation(chunk, 532, 541, 45% to 49%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '23', 'confidence': '0.7169333'}),
 Annotation(chunk, 545, 547, She, {'entity': 'Gender', 'sentence': '5', 'chunk': '24', 'confidence': '1.0'}),
 Annotation(chunk, 568, 583, Oncology service, {'entity': 'Clinical_Dept', 'sentence': '5', 'chunk': '25', 'confidence': '0.94425'}),
 Annotation(chunk, 600, 611, chemotherapy, {'entity': 'Treatment', 'sentence': '5', 'chunk': '26', 'confidence': '0.9987'}),
 Annotation(chunk, 616, 632, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '27', 'confidence': '0.974275'}),
 Annotation(chunk, 639, 647, cisplatin, {'entity': 'Drug_Ingredient', 'sentence': '5', 'chunk': '28', 'confidence': '0.9989'}),
 Annotation(chunk, 649, 664, 75 mg/centimeter, {'entity': 'Strength', 'sentence': '5', 'chunk': '29', 'confidence': '0.47565'}),
 Annotation(chunk, 683, 688, 109 mg, {'entity': 'Strength', 'sentence': '5', 'chunk': '30', 'confidence': '0.55125'}),
 Annotation(chunk, 690, 701, IV piggyback, {'entity': 'Route', 'sentence': '5', 'chunk': '31', 'confidence': '0.4695'}),
 Annotation(chunk, 703, 714, over 2 hours, {'entity': 'Frequency', 'sentence': '5', 'chunk': '32', 'confidence': '0.34856665'}),
 Annotation(chunk, 719, 735, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '33', 'confidence': '0.994825'})]

In [21]:
print("Clinical Text:\n", text2)

Clinical Text:

At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma.
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy.
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%.
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007

**Show NER chunks in a pandas dataframe.**

In [22]:
get_chunk_results(bio_full_result)

 ******************** ner_cellular_biobert Model Results ********************
No Result For This Model


 ******************** ner_diseases_biobert Model Results ********************

  sentence  begin  end                              chunks   entity  confidence
0        0    146  179  epithelioid malignant mesothelioma  Disease  0.82816666
1        1    281  309       pleural pericardial effusions  Disease   0.8578667
2        1    316  330                     lymphadenopathy  Disease         1.0
3        3    456  472                   stage III disease  Disease      0.8699

 ******************** ner_events_biobert Model Results ********************

   sentence  begin  ...         entity  confidence
0         0     15  ...      TREATMENT  0.86273336
1         0     40  ...      TREATMENT      0.9973
2         0     52  ...        PROBLEM      0.9656
3         0     75  ...           TEST      0.5526
4         0     93  ...           TEST     0.98285
5         0    137  ...     EVIDENTIAL      0.9916
6         0    146  ...        PROBLEM   0.9400334
7         1    217  ...           TEST   0.8218667
8         1    233  ...     EVIDENTIAL      0.7931
9         1    240  ...        PROBLEM  0.87551993
10        1    271  ...        PROBLEM   0.9005749
11        1    316  ...        PROBLEM         1.0
12        2    347  ...        PROBLEM     0.73525
13        2    403  ...        PROBLEM   0.7949667
14        2    421  ...           TEST      0.9985
15        3    456  ...        PROBLEM   0.8347333
16        4    475  ...           TEST      0.9183
17        4    501  ...     EVIDENTIAL      0.9957
18        4    508  ...           TEST  0.57366663
19        5    553  ...     OCCURRENCE      0.6226
20        5    568  ...  CLINICAL_DEPT  0.89355004
21        5    600  ...      TREATMENT      0.9985
22        5    616  ...           DATE  0.86637497
23        5    639  ...      TREATMENT      0.8656
24        5    708  ...       DURATION      0.9796
25        5    719  ...           DATE  0.80474997

[26 rows x 6 columns]

 ******************** ner_bionlp_biobert Model Results ********************

   sentence  begin  ...                  entity  confidence
0         0     15  ...  Multi-tissue_structure  0.81340003
1         0     56  ...      Organism_substance      0.9628
2         0    146  ...                  Cancer  0.96550006
3         1    187  ...                Organism      0.9994
4         1    264  ...    Organism_subdivision      0.9888
5         1    289  ...  Multi-tissue_structure      0.7041
6         2    347  ...      Organism_substance     0.98425
7         2    361  ...  Multi-tissue_structure      0.9991
8         2    374  ...  Multi-tissue_structure       0.983
9         2    413  ...  Multi-tissue_structure         1.0
10        5    639  ...         Simple_chemical       0.999

[11 rows x 6 columns]

 ******************** ner_jsl_greedy_biobert Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure  0.48926663
1         0     56  ...                       Symptom      0.6963
2         0     75  ...                     Procedure      0.3945
3         0     93  ...                     Procedure     0.64205
4         0    146  ...                   Oncological   0.7602667
5         1    219  ...                          Test     0.66695
6         1    240  ...               ImagingFindings      0.5676
7         1    264  ...  External_body_part_or_region       0.764
8         1    271  ...                     Direction      0.1631
9         1    281  ...     Disease_Syndrome_Disorder  0.47093332
10        1    316  ...                       Symptom      0.8042
11        2    334  ...                        Gender      0.9998
12        2    347  ...                       Symptom     0.47575
13        2    361  ...  External_body_part_or_region      0.7536
14        2    374  ...   Internal_organ_or_component  0.44683334
15        2    413  ...   Internal_organ_or_component      0.9859
16        2    421  ...                          Test      0.7058
17        3    456  ...                   Oncological  0.43736663
18        4    475  ...                        Gender      0.9996
19        4    486  ...                          Test      0.9018
20        4    511  ...                          Test     0.39585
21        4    532  ...                   Test_Result  0.84353334
22        5    545  ...                        Gender      0.9997
23        5    568  ...                 Clinical_Dept     0.91345
24        5    600  ...                          Drug     0.55975
25        5    683  ...                      Strength     0.77125
26        5    690  ...                         Route      0.2177
27        5    703  ...                      Duration      0.3442
28        5    719  ...                          Date      0.6579

[29 rows x 6 columns]

 ******************** ner_jsl_biobert Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure      0.6034
1         0     40  ...                       Symptom  0.37260002
2         0     75  ...                     Procedure       0.411
3         0     93  ...                     Procedure  0.57705003
4         0    146  ...                   Oncological  0.53636664
5         1    219  ...                          Test      0.6016
6         1    240  ...               ImagingFindings  0.33130002
7         1    264  ...  External_body_part_or_region      0.5029
8         1    271  ...                     Direction      0.3056
9         1    281  ...     Disease_Syndrome_Disorder  0.19996667
10        1    316  ...                       Symptom      0.4677
11        2    334  ...                        Gender      0.9999
12        2    347  ...                       Symptom      0.3322
13        2    361  ...   Internal_organ_or_component      0.8213
14        2    374  ...   Internal_organ_or_component  0.47376665
15        2    403  ...               ImagingFindings  0.49703336
16        2    421  ...                          Test       0.395
17        2    428  ...                   Test_Result      0.4658
18        3    456  ...                      Modifier      0.3446
19        3    466  ...                   Oncological      0.3096
20        4    475  ...                        Gender         1.0
21        4    486  ...                          Test      0.9013
22        4    511  ...                          Test      0.3824
23        4    532  ...                   Test_Result   0.7169333
24        5    545  ...                        Gender         1.0
25        5    568  ...                 Clinical_Dept     0.94425
26        5    600  ...                     Treatment      0.9987
27        5    616  ...                          Date    0.974275
28        5    639  ...               Drug_Ingredient      0.9989
29        5    649  ...                      Strength     0.47565
30        5    683  ...                      Strength     0.55125
31        5    690  ...                         Route      0.4695
32        5    703  ...                     Frequency  0.34856665
33        5    719  ...                          Date    0.994825

[34 rows x 6 columns]

 ******************** ner_anatomy_biobert Model Results ********************

  sentence  begin  ...                  entity  confidence
0        0     56  ...      Organism_substance      0.9998
1        0     93  ...      Organism_substance      0.9993
2        1    264  ...    Organism_subdivision         1.0
3        1    281  ...  Multi-tissue_structure  0.71923333
4        2    354  ...      Organism_substance      0.9982
5        2    387  ...  Pathological_formation  0.98504996

[6 rows x 6 columns]

 ******************** ner_jsl_enriched_biobert Model Results ********************

   sentence  begin  ...          entity  confidence
0         0     75  ...  Procedure_Name      0.5806
1         0     93  ...  Procedure_Name      0.7884
2         0    146  ...       Diagnosis  0.43506667
3         1    219  ...            Name       0.448
4         1    316  ...    Symptom_Name      0.8114
5         2    334  ...          Gender      0.8544
6         4    475  ...          Gender      0.9597
7         4    486  ...            Name      0.9927
8         5    545  ...          Gender      0.8454
9         5    600  ...       Drug_Name      0.7537
10        5    639  ...       Drug_Name      0.9998

[11 rows x 6 columns]

 ******************** ner_human_phenotype_go_biobert Model Results ********************

  sentence  begin  end     chunks entity confidence
0        1    271  279  bilateral     HP     0.9863

 ******************** ner_deid_biobert Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.978225
1        5    719  735  September 1, 2007   DATE   0.727375

 ******************** ner_deid_enriched_biobert Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE     0.87105
1        5    719  735  September 1, 2007   DATE  0.76530004

 ******************** ner_clinical_biobert Model Results ********************

   sentence  begin  ...     entity  confidence
0         0     15  ...  TREATMENT  0.68236667
1         0     40  ...  TREATMENT       0.929
2         0     52  ...    PROBLEM  0.79499996
3         0     75  ...       TEST      0.8714
4         0     93  ...       TEST      0.7225
5         0    146  ...    PROBLEM  0.97173333
6         1    217  ...       TEST  0.98569995
7         1    240  ...    PROBLEM     0.80012
8         1    271  ...    PROBLEM  0.74799997
9         1    316  ...    PROBLEM         1.0
10        2    347  ...    PROBLEM      0.6896
11        2    361  ...    PROBLEM      0.7193
12        2    403  ...    PROBLEM   0.8479667
13        2    421  ...       TEST      0.9832
14        3    456  ...    PROBLEM      0.9479
15        4    475  ...       TEST      0.8857
16        4    508  ...       TEST  0.65056664
17        5    600  ...  TREATMENT      0.9686
18        5    639  ...  TREATMENT      0.5088

[19 rows x 6 columns]

 ******************** ner_anatomy_coarse_biobert Model Results ********************

  sentence  begin  ...   entity confidence
0        0     15  ...  Anatomy    0.97775
1        0     56  ...  Anatomy     0.9894
2        0     93  ...  Anatomy     0.9495
3        0    146  ...  Anatomy     0.7541
4        1    264  ...  Anatomy     0.9272
5        1    271  ...  Anatomy    0.92105
6        2    347  ...  Anatomy    0.64705
7        2    361  ...  Anatomy     0.5439
8        2    374  ...  Anatomy  0.9511666
9        2    413  ...  Anatomy        1.0

[10 rows x 6 columns]

 ******************** ner_human_phenotype_gene_biobert Model Results ********************

  sentence  begin  end                         chunks entity  confidence
0        0     15   24                     chest tube     HP  0.91585004
1        1    271  279                      bilateral     HP      0.9206
2        1    281  309  pleural pericardial effusions     HP      0.9431

 ******************** ner_posology_large_biobert Model Results ********************

  sentence  begin  end            chunks    entity confidence
0        5    600  611      chemotherapy      DRUG        1.0
1        5    639  647         cisplatin      DRUG        1.0
2        5    649  664  75 mg/centimeter  STRENGTH    0.94085
3        5    683  688            109 mg  STRENGTH     0.9706
4        5    690  691                IV     ROUTE     0.6445

 ******************** jsl_rd_ner_wip_greedy_biobert Model Results ********************

   sentence  begin  ...                     entity  confidence
0         0     15  ...                   BodyPart      0.6272
1         0     21  ...                  Procedure      0.9342
2         0     40  ...                  Procedure      0.4587
3         0     56  ...            ImagingFindings         1.0
4         0     75  ...                  Procedure      0.9993
5         0     93  ...                  Procedure  0.96169996
6         0    146  ...  Disease_Syndrome_Disorder   0.7715333
7         1    219  ...                ImagingTest     0.91625
8         1    240  ...            ImagingFindings     0.74605
9         1    264  ...                   BodyPart         1.0
10        1    271  ...                  Direction      0.7048
11        1    281  ...                   BodyPart      0.6421
12        1    301  ...            ImagingFindings         1.0
13        1    316  ...            ImagingFindings         1.0
14        2    347  ...                    Symptom     0.63695
15        2    361  ...                   BodyPart      0.9503
16        2    374  ...                   BodyPart      0.7215
17        2    403  ...            ImagingFindings      0.9858
18        2    413  ...                   BodyPart      0.9975
19        2    421  ...                    Symptom      0.9416
20        3    456  ...  Disease_Syndrome_Disorder  0.85706663
21        4    486  ...                ImagingTest      0.7173
22        4    511  ...              OtherFindings     0.76935
23        4    532  ...               Measurements      0.9892
24        4    539  ...               Measurements      0.9999
25        5    649  ...               Measurements      0.9599
26        5    652  ...                      Units      0.9993
27        5    683  ...               Measurements      0.9993
28        5    687  ...                      Units      0.9978

[29 rows x 6 columns]

 ******************** ner_posology_biobert Model Results ********************

  sentence  begin  end            chunks     entity confidence
0        5    600  611      chemotherapy       DRUG     0.9995
1        5    639  647         cisplatin       DRUG     0.9902
2        5    649  664  75 mg/centimeter   STRENGTH     0.4637
3        5    683  688            109 mg   STRENGTH     0.8849
4        5    690  691                IV      ROUTE     0.9347
5        5    693  701         piggyback  FREQUENCY     0.7792

 ******************** jsl_ner_wip_greedy_biobert Model Results ********************

   sentence  begin  ...                        entity  confidence
0         0     15  ...                     Procedure  0.48926663
1         0     56  ...                       Symptom      0.6963
2         0     75  ...                     Procedure      0.3945
3         0     93  ...                     Procedure     0.64205
4         0    146  ...                   Oncological   0.7602667
5         1    219  ...                          Test     0.66695
6         1    240  ...               ImagingFindings      0.5676
7         1    264  ...  External_body_part_or_region       0.764
8         1    271  ...                     Direction      0.1631
9         1    281  ...     Disease_Syndrome_Disorder  0.47093332
10        1    316  ...                       Symptom      0.8042
11        2    334  ...                        Gender      0.9998
12        2    347  ...                       Symptom     0.47575
13        2    361  ...  External_body_part_or_region      0.7536
14        2    374  ...   Internal_organ_or_component  0.44683334
15        2    413  ...   Internal_organ_or_component      0.9859
16        2    421  ...                          Test      0.7058
17        3    456  ...                   Oncological  0.43736663
18        4    475  ...                        Gender      0.9996
19        4    486  ...                          Test      0.9018
20        4    511  ...                          Test     0.39585
21        4    532  ...                   Test_Result  0.84353334
22        5    545  ...                        Gender      0.9997
23        5    568  ...                 Clinical_Dept     0.91345
24        5    600  ...                          Drug     0.55975
25        5    683  ...                      Strength     0.77125
26        5    690  ...                         Route      0.2177
27        5    703  ...                      Duration      0.3442
28        5    719  ...                          Date      0.6579

[29 rows x 6 columns]

 ******************** ner_chemprot_biobert Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        5    639  647  cisplatin  CHEMICAL       0.78

 ******************** ner_ade_biobert Model Results ********************

  sentence  begin  end                         chunks entity  confidence
0        0     15   34           chest tube placement   DRUG   0.9749667
1        0     40   60          drainage of the fluid   DRUG    0.857375
2        0     75   86                   thoracoscopy   DRUG      0.9946
3        1    240  268  extensive uptake in the chest    ADE  0.82124007
4        5    600  611                   chemotherapy   DRUG      0.5156
5        5    639  647                      cisplatin   DRUG      0.8898
6        5    693  701                      piggyback   DRUG         1.0

 ******************** ner_risk_factors_biobert Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    616  624  September    PHI     0.6927
1        5    719  727  September    PHI     0.7975
2        5    732  735       2007    PHI     0.8128

**Show NER label results in a pandas dataframe.**

In [23]:
get_token_results(clinical_full_result)

    sentence  begin  end  ... ner_genetic_variants ner_radiology ner_posology
0          0      1    2  ...                    O             O            O
1          0      4    7  ...                    O             O            O
2          0      9   12  ...                    O             O            O
3          0     13   13  ...                    O             O            O
4          0     15   19  ...                    O   B-Procedure            O
..       ...    ...  ...  ...                  ...           ...          ...
123        5    716  717  ...                    O             O            O
124        5    719  727  ...                    O             O            O
125        5    729  729  ...                    O             O            O
126        5    730  730  ...                    O             O            O
127        5    732  735  ...                    O             O            O

[128 rows x 53 columns]