![JohnSnowLabs](https://nlp.johnsnowlabs.com/assets/images/logo.png)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/JohnSnowLabs/spark-nlp-workshop/blob/master/healthcare-nlp/07.1.Pretrained_NER_Profiling_Pipelines.ipynb)

In [ ]:
# Install the johnsnowlabs library to access Spark-OCR and Spark-NLP for Healthcare, Finance, and Legal.
! pip install -q johnsnowlabs

In [ ]:
from google.colab import files
print('Please Upload your John Snow Labs License using the button below')
license_keys = files.upload()

In [ ]:
from johnsnowlabs import nlp, medical, visual

# After uploading your license run this to install all licensed Python Wheels and pre-download Jars the Spark Session JVM
nlp.install()

In [ ]:
from johnsnowlabs import nlp, medical, visual 

# Automatically load license data and start a session with all jars user has access to
spark = nlp.start()

# Clinical NER Model Profiling Pretrained Pipeline

This pipeline can be used to explore all the available pretrained NER models at once. When you run this pipeline over your text, you will end up with the predictions coming out of each pretrained clinical NER model trained with `embeddings_clinical`.

<center><b>NER Profiling Clinical Model List</b></center>


|| | | |
|--------------|-----------------|-----------------|-----------------|
| jsl_ner_wip_clinical | jsl_ner_wip_greedy_clinical | jsl_ner_wip_modifier_clinical | jsl_rd_ner_wip_greedy_clinical |
| ner_abbreviation_clinical | ner_ade_binary | ner_ade_clinical | ner_anatomy |
| ner_anatomy_coarse | ner_bacterial_species | ner_biomarker | ner_biomedical_bc2gm |
| ner_bionlp | ner_cancer_genetics | ner_cellular | ner_chemd_clinical |
| ner_chemicals | ner_chemprot_clinical | ner_chexpert | ner_clinical |
| ner_clinical_large | ner_clinical_trials_abstracts | ner_covid_trials | ner_deid_augmented |
| ner_deid_enriched | ner_deid_generic_augmented | ner_deid_large | ner_deid_sd |
| ner_deid_sd_large | ner_deid_subentity_augmented | ner_deid_subentity_augmented_i2b2 | ner_deid_synthetic |
| ner_deidentify_dl | ner_diseases | ner_diseases_large | ner_drugprot_clinical |
| ner_drugs | ner_drugs_greedy | ner_drugs_large | ner_events_admission_clinical |
| ner_events_clinical | ner_genetic_variants | ner_human_phenotype_gene_clinical | ner_human_phenotype_go_clinical |
| ner_jsl | ner_jsl_enriched | ner_jsl_greedy | ner_jsl_slim |
| ner_living_species | ner_measurements_clinical | ner_medmentions_coarse | ner_nature_nero_clinical |
| ner_nihss | ner_pathogen | ner_posology | ner_posology_experimental |
| ner_posology_greedy | ner_posology_large | ner_posology_small | ner_radiology |
| ner_radiology_wip_clinical | ner_risk_factors | ner_supplement_clinical | nerdl_tumour_demo |

You can check [Models Hub](https://nlp.johnsnowlabs.com/models) page for more information about all these models and more.

In [ ]:
document_assembler = nlp.DocumentAssembler()\
      .setInputCol('text')\
      .setOutputCol('document')

sentence_detector = nlp.SentenceDetector()\
      .setInputCols(["document"])\
      .setOutputCol("sentence")

tokenizer = nlp.Tokenizer()\
      .setInputCols("sentence")\
      .setOutputCol("token")

word_embeddings = nlp.WordEmbeddingsModel.pretrained("embeddings_clinical", "en", "clinical/models")\
      .setInputCols(["sentence", "token"])\
      .setOutputCol("embeddings")

#NER model to detect drug in the text
ner = medical.NerModel.pretrained('ner_posology_greedy', 'en', 'clinical/models') \
      .setInputCols(["sentence", "token", "embeddings"]) \
      .setOutputCol("ner")

ner_chunk = medical.NerConverterInternal() \
      .setInputCols(["sentence", "token", "ner"]) \
      .setOutputCol("ner_chunk")

chunkMapper = medical.ChunkMapperModel.pretrained("drug_ade_mapper", "en", "clinical/models")\
      .setInputCols(["ner_chunk"])\
      .setOutputCol("mappings")\
      .setRels(["ADE"])

pipeline = nlp.Pipeline().setStages([document_assembler,
                                 sentence_detector,
                                 tokenizer, 
                                 word_embeddings,
                                 ner, 
                                 ner_chunk, 
                                 chunkMapper])

text = ["""The patient was prescribed 1000 mg fish oil and multivitamins. 
            She was discharged on zopiclone and ambrisentan"""]
            
test_data = spark.createDataFrame([text]).toDF("text")
model = pipeline.fit(test_data)
res= model.transform(test_data)
res.show()

embeddings_clinical download started this may take some time.
Approximate size to download 1.6 GB
[OK!]
ner_posology_greedy download started this may take some time.
[OK!]
drug_ade_mapper download started this may take some time.
[OK!]
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                text|            document|            sentence|               token|          embeddings|                 ner|           ner_chunk|            mappings|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|The patient was p...|[{document, 0, 12...|[{document, 0, 61...|[{token, 0, 2, Th...|[{word_embeddings...|[{named_entity, 0...|[{chunk, 27, 42, ...|[{labeled_depende...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
clinical_profiling_pipeline = nlp.PretrainedPipeline("ner_profiling_clinical", "en", "clinical/models")

ner_profiling_clinical download started this may take some time.
Approx size to download 2.5 GB
[OK!]

In [ ]:
text = '''A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .'''

In [ ]:
clinical_result = clinical_profiling_pipeline.annotate(text)
clinical_result.keys()

dict_keys(['ner_ade_clinical_chunks', 'ner_deid_augmented', 'ner_deid_subentity_augmented_i2b2', 'ner_posology_greedy_chunks', 'ner_radiology_wip_clinical', 'ner_deidentify_dl', 'ner_jsl_slim', 'ner_risk_factors_chunks', 'jsl_ner_wip_clinical_chunks', 'ner_deid_synthetic', 'ner_drugs_greedy', 'ner_abbreviation_clinical_chunks', 'ner_covid_trials_chunks', 'ner_human_phenotype_gene_clinical_chunks', 'ner_events_admission_clinical', 'jsl_ner_wip_greedy_clinical_chunks', 'ner_posology_greedy', 'ner_cellular_chunks', 'ner_cancer_genetics_chunks', 'ner_biomedical_bc2gm_chunks', 'ner_jsl_greedy', 'jsl_ner_wip_modifier_clinical_chunks', 'ner_drugs_greedy_chunks', 'ner_deid_sd_large_chunks', 'ner_diseases_chunks', 'ner_diseases_large', 'ner_chemprot_clinical', 'ner_posology_large', 'nerdl_tumour_demo_chunks', 'ner_deid_subentity_augmented_chunks', 'ner_jsl_enriched_chunks', 'ner_genetic_variants_chunks', 'ner_chexpert', 'ner_bionlp_chunks', 'ner_measurements_clinical_chunks', 'ner_diseases_large_chunks', 'ner_drugs_large', 'ner_living_species_chunks', 'ner_clinical_large', 'ner_chemicals', 'ner_radiology_chunks', 'ner_bacterial_species', 'ner_deid_augmented_chunks', 'ner_bionlp', 'ner_drugprot_clinical', 'ner_anatomy_chunks', 'ner_deid_subentity_augmented_i2b2_chunks', 'ner_deid_large', 'jsl_ner_wip_modifier_clinical', 'ner_chemprot_clinical_chunks', 'nerdl_tumour_demo', 'ner_posology_experimental_chunks', 'ner_cancer_genetics', 'ner_biomarker', 'ner_drugprot_clinical_chunks', 'ner_posology_small', 'ner_drugs_chunks', 'ner_deid_sd_chunks', 'ner_chemd_clinical', 'ner_human_phenotype_gene_clinical', 'ner_ade_clinical', 'ner_human_phenotype_go_clinical', 'ner_risk_factors', 'ner_clinical', 'ner_posology_large_chunks', 'ner_cellular', 'ner_nature_nero_clinical_chunks', 'ner_deid_large_chunks', 'ner_clinical_trials_abstracts_chunks', 'ner_deid_generic_augmented_chunks', 'ner_posology_chunks', 'ner_deidentify_dl_chunks', 'ner_supplement_clinical_chunks', 'ner_deid_enriched_chunks', 'ner_chemd_clinical_chunks', 'ner_deid_sd_large', 'jsl_ner_wip_greedy_clinical', 'ner_bacterial_species_chunks', 'ner_living_species', 'ner_abbreviation_clinical', 'ner_diseases', 'jsl_rd_ner_wip_greedy_clinical', 'ner_drugs', 'ner_drugs_large_chunks', 'ner_biomarker_chunks', 'ner_clinical_trials_abstracts', 'ner_clinical_large_chunks', 'ner_anatomy_coarse', 'ner_nature_nero_clinical', 'token', 'ner_medmentions_coarse', 'ner_deid_sd', 'jsl_rd_ner_wip_greedy_clinical_chunks', 'ner_deid_generic_augmented', 'ner_pathogen_chunks', 'ner_medmentions_coarse_chunks', 'ner_anatomy', 'ner_deid_enriched', 'ner_deid_subentity_augmented', 'ner_radiology_wip_clinical_chunks', 'ner_clinical_chunks', 'ner_measurements_clinical', 'ner_ade_binary', 'ner_nihss', 'ner_chexpert_chunks', 'ner_chemicals_chunks', 'ner_pathogen', 'ner_jsl_enriched', 'ner_deid_synthetic_chunks', 'ner_events_clinical_chunks', 'ner_posology_experimental', 'jsl_ner_wip_clinical', 'ner_biomedical_bc2gm', 'ner_posology_small_chunks', 'ner_nihss_chunks', 'ner_anatomy_coarse_chunks', 'ner_human_phenotype_go_clinical_chunks', 'ner_jsl', 'ner_events_clinical', 'ner_supplement_clinical', 'ner_jsl_slim_chunks', 'ner_jsl_chunks', 'ner_jsl_greedy_chunks', 'ner_genetic_variants', 'ner_radiology', 'ner_posology', 'sentence', 'ner_covid_trials', 'ner_ade_binary_chunks', 'ner_events_admission_clinical_chunks'])

In [ ]:
print("Clinical Text: \n", text, "\n \nResults:\n")

for i in clinical_result.keys():
  print("{} : ".format(i), clinical_result[i])

Clinical Text:
 A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .

Results:

ner_ade_clinical_chunks :  ['polydipsia', 'poor appetite', 'vomiting']
ner_deid_augmented :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_subentity_augmented_i2b2 :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_greedy_chunks :  []
ner_radiology_wip_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-BodyPart', 'B-Symptom', 'I-Symptom', 'O', 'O', 'O', 'O', 'B-Measurements', 'B-Units', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_deidentify_dl :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_slim :  ['O', 'B-Age', 'B-Demographics', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Date_Time', 'I-Date_Time', 'I-Date_Time', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-Date_Time', 'I-Date_Time', 'I-Date_Time', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Symptom', 'I-Symptom', 'I-Symptom', 'O', 'B-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'I-Physical_Measurement', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_risk_factors_chunks :  ['diabetes mellitus', 'type two diabetes mellitus', 'obesity']
jsl_ner_wip_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'subsequent', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', '33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_deid_synthetic :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugs_greedy :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_abbreviation_clinical_chunks :  ['T2DM', 'BMI']
ner_covid_trials_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'hepatitis', 'obesity', 'body mass index', 'BMI']
ner_human_phenotype_gene_clinical_chunks :  ['type', 'obesity', 'mass', 'polyuria', 'polydipsia']
ner_events_admission_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-OCCURRENCE', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
jsl_ner_wip_greedy_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_posology_greedy :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_cellular_chunks :  []
ner_cancer_genetics_chunks :  []
ner_biomedical_bc2gm_chunks :  []
ner_jsl_greedy :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
jsl_ner_wip_modifier_clinical_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_drugs_greedy_chunks :  []
ner_deid_sd_large_chunks :  []
ner_diseases_chunks :  ['gestational diabetes mellitus', 'diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'hepatitis', 'obesity', 'BMI', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_diseases_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O']
ner_chemprot_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
nerdl_tumour_demo_chunks :  []
ner_deid_subentity_augmented_chunks :  ['28-year-old']
ner_jsl_enriched_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_genetic_variants_chunks :  []
ner_chexpert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_bionlp_chunks :  ['female', 'hepatitis']
ner_measurements_clinical_chunks :  ['33.5', 'kg/m2']
ner_diseases_large_chunks :  ['gestational diabetes mellitus', 'diabetes mellitus', 'T2DM', 'pancreatitis', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'vomiting']
ner_drugs_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_living_species_chunks :  ['female']
ner_clinical_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_chemicals :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_radiology_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute hepatitis', 'obesity', 'body', 'mass index', 'BMI', '33.5', 'kg/m2', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_bacterial_species :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_augmented_chunks :  []
ner_bionlp :  ['O', 'O', 'B-Organism', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Organism', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugprot_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_anatomy_chunks :  ['body']
ner_deid_subentity_augmented_i2b2_chunks :  []
ner_deid_large :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
jsl_ner_wip_modifier_clinical :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Diabetes', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_chemprot_clinical_chunks :  []
nerdl_tumour_demo :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_posology_experimental_chunks :  []
ner_cancer_genetics :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_biomarker :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugprot_clinical_chunks :  []
ner_posology_small :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_drugs_chunks :  []
ner_deid_sd_chunks :  []
ner_chemd_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_human_phenotype_gene_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_ade_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'B-ADE', 'O']
ner_human_phenotype_go_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O']
ner_risk_factors :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-OBESE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_clinical :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_posology_large_chunks :  []
ner_cellular :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_nature_nero_clinical_chunks :  ['28-year-old female', 'history', 'gestational diabetes mellitus', 'eight years', 'type two diabetes', 'mellitus', 'T2DM ), one prior episode', 'HTG-induced pancreatitis', 'three years', 'acute hepatitis', 'obesity with a body mass index ( BMI )', '33.5 kg/m2', 'one-week history', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_deid_large_chunks :  []
ner_clinical_trials_abstracts_chunks :  ['diabetes mellitus', 'eight', 'years', 'type two diabetes mellitus', 'T2DM', 'kg/m2']
ner_deid_generic_augmented_chunks :  ['28-year-old']
ner_posology_chunks :  []
ner_deidentify_dl_chunks :  []

**Lets show chunk results of NER models in a pandas dataframe.**

In [ ]:
import pandas as pd


def get_chunk_results(light_result):

  for i in light_result.keys():
    
    model_name = "_".join(i.split("_")[:-1])

    if (i == 'sentence') | (i == 'token'):
      
      continue
    
    if ("_chunks" not in i):
      
      continue

    elif len(light_result[i]) == 0:
      
      print("\n", "*"*20, model_name, "Model Results", "*"*20)
      print("No Result For This Model")


    else:

      sentences = []
      begins = []
      ends = []
      chunks = []
      entities = []
      confidences = []

      for n in (light_result[i]):

        sentences.append(n.metadata['sentence'])
        begins.append(n.begin)
        ends.append(n.end) 
        chunks.append(n.result)
        entities.append(n.metadata['entity'])
        confidences.append(n.metadata['confidence'])

        
      df = pd.DataFrame({'sentence':sentences, 'begin': begins, 'end': ends, 'chunks': chunks, 'entity': entities, 'confidence': confidences})

      print("\n \n", "*"*20, model_name, "Model Results", "*"*20)
      display(df)

In [ ]:
text2 = """
At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma. 
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy. 
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%. 
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007
"""

In [ ]:
clinical_full_result = clinical_profiling_pipeline.fullAnnotate(text2)[0]

In [ ]:
clinical_full_result['ner_jsl_chunks']

[Annotation(chunk, 15, 34, chest tube placement, {'entity': 'Procedure', 'sentence': '0', 'chunk': '0', 'confidence': '0.46089998'}),
 Annotation(chunk, 40, 60, drainage of the fluid, {'entity': 'Procedure', 'sentence': '0', 'chunk': '1', 'confidence': '0.40230003'}),
 Annotation(chunk, 75, 86, thoracoscopy, {'entity': 'Procedure', 'sentence': '0', 'chunk': '2', 'confidence': '0.9927'}),
 Annotation(chunk, 93, 106, fluid biopsies, {'entity': 'Procedure', 'sentence': '0', 'chunk': '3', 'confidence': '0.80535'}),
 Annotation(chunk, 146, 179, epithelioid malignant mesothelioma, {'entity': 'Oncological', 'sentence': '0', 'chunk': '4', 'confidence': '0.934'}),
 Annotation(chunk, 219, 224, PET CT, {'entity': 'Test', 'sentence': '1', 'chunk': '5', 'confidence': '0.946'}),
 Annotation(chunk, 240, 248, extensive, {'entity': 'Modifier', 'sentence': '1', 'chunk': '6', 'confidence': '0.8028'}),
 Annotation(chunk, 250, 255, uptake, {'entity': 'ImagingFindings', 'sentence': '1', 'chunk': '7', 'confidence': '0.5804'}),
 Annotation(chunk, 264, 268, chest, {'entity': 'External_body_part_or_region', 'sentence': '1', 'chunk': '8', 'confidence': '0.7954'}),
 Annotation(chunk, 271, 279, bilateral, {'entity': 'Direction', 'sentence': '1', 'chunk': '9', 'confidence': '0.5107'}),
 Annotation(chunk, 281, 309, pleural pericardial effusions, {'entity': 'Disease_Syndrome_Disorder', 'sentence': '1', 'chunk': '10', 'confidence': '0.37933335'}),
 Annotation(chunk, 316, 330, lymphadenopathy, {'entity': 'Symptom', 'sentence': '1', 'chunk': '11', 'confidence': '0.9799'}),
 Annotation(chunk, 334, 336, She, {'entity': 'Gender', 'sentence': '2', 'chunk': '12', 'confidence': '0.9999'}),
 Annotation(chunk, 347, 358, acidic fluid, {'entity': 'Symptom', 'sentence': '2', 'chunk': '13', 'confidence': '0.2116'}),
 Annotation(chunk, 361, 368, pectoral, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '14', 'confidence': '0.6198'}),
 Annotation(chunk, 374, 397, intramammary lymph nodes, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '15', 'confidence': '0.49179998'}),
 Annotation(chunk, 413, 414, L4, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '16', 'confidence': '0.8673'}),
 Annotation(chunk, 421, 423, SUV, {'entity': 'Test', 'sentence': '2', 'chunk': '17', 'confidence': '0.9899'}),
 Annotation(chunk, 428, 428, 4, {'entity': 'Test_Result', 'sentence': '2', 'chunk': '18', 'confidence': '0.779'}),
 Annotation(chunk, 456, 472, stage III disease, {'entity': 'Heart_Disease', 'sentence': '3', 'chunk': '19', 'confidence': '0.3536333'}),
 Annotation(chunk, 475, 477, Her, {'entity': 'Gender', 'sentence': '4', 'chunk': '20', 'confidence': '0.9999'}),
 Annotation(chunk, 486, 499, echocardiogram, {'entity': 'Test', 'sentence': '4', 'chunk': '21', 'confidence': '0.983'}),
 Annotation(chunk, 511, 527, ejection fraction, {'entity': 'Test', 'sentence': '4', 'chunk': '22', 'confidence': '0.78894997'}),
 Annotation(chunk, 532, 534, 45%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '23', 'confidence': '0.9082'}),
 Annotation(chunk, 539, 541, 49%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '24', 'confidence': '0.7783'}),
 Annotation(chunk, 545, 547, She, {'entity': 'Gender', 'sentence': '5', 'chunk': '25', 'confidence': '0.9999'}),
 Annotation(chunk, 568, 583, Oncology service, {'entity': 'Clinical_Dept', 'sentence': '5', 'chunk': '26', 'confidence': '0.8259'}),
 Annotation(chunk, 600, 611, chemotherapy, {'entity': 'Treatment', 'sentence': '5', 'chunk': '27', 'confidence': '0.9995'}),
 Annotation(chunk, 616, 632, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '28', 'confidence': '0.57875'}),
 Annotation(chunk, 639, 647, cisplatin, {'entity': 'Drug_Ingredient', 'sentence': '5', 'chunk': '29', 'confidence': '0.9282'}),
 Annotation(chunk, 649, 664, 75 mg/centimeter, {'entity': 'Strength', 'sentence': '5', 'chunk': '30', 'confidence': '0.5732'}),
 Annotation(chunk, 683, 688, 109 mg, {'entity': 'Strength', 'sentence': '5', 'chunk': '31', 'confidence': '0.7955'}),
 Annotation(chunk, 690, 691, IV, {'entity': 'Route', 'sentence': '5', 'chunk': '32', 'confidence': '0.9924'}),
 Annotation(chunk, 703, 714, over 2 hours, {'entity': 'Duration', 'sentence': '5', 'chunk': '33', 'confidence': '0.2995'}),
 Annotation(chunk, 719, 735, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '34', 'confidence': '0.5768'})]

In [ ]:
print("Clinical Text:\n", text2)

Clinical Text:

At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma.
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy.
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%.
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007

In [ ]:
get_chunk_results(clinical_full_result)

 ******************** ner_ade_clinical Model Results ********************

  sentence  begin  end                 chunks entity  confidence
0        0     15   34   chest tube placement   DRUG      0.9326
1        0     40   60  drainage of the fluid   DRUG  0.66934997
2        5    600  611           chemotherapy   DRUG      0.9953
3        5    639  647              cisplatin   DRUG      0.9877
4        5    690  701           IV piggyback   DRUG      0.6635

 ******************** ner_posology_greedy Model Results ********************

  sentence  begin  end                      chunks    entity  confidence
0        5    600  611                chemotherapy      DRUG      0.9972
1        5    639  664  cisplatin 75 mg/centimeter      DRUG   0.6113667
2        5    683  701         109 mg IV piggyback      DRUG  0.55439997
3        5    703  714                over 2 hours  DURATION   0.5100667

 ******************** ner_risk_factors Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    616  624  September    PHI     0.9968
1        5    629  632       2007    PHI     0.9999
2        5    719  727  September    PHI     0.9816
3        5    732  735       2007    PHI     0.9999

 ******************** jsl_ner_wip_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.46089998
1,0,40,60,drainage of the fluid,Procedure,0.40230003
2,0,75,86,thoracoscopy,Procedure,0.9927
3,0,93,106,fluid biopsies,Procedure,0.80535
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.934
5,1,219,224,PET CT,Test,0.946
6,1,240,248,extensive,Modifier,0.8028
7,1,250,255,uptake,ImagingFindings,0.5804
8,1,264,268,chest,External_body_part_or_region,0.7954
9,1,271,279,bilateral,Direction,0.5107
10,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.37933335
11,1,316,330,lymphadenopathy,Symptom,0.9799
12,2,334,336,She,Gender,0.9999
13,2,347,358,acidic fluid,Symptom,0.2116
14,2,361,368,pectoral,Internal_organ_or_component,0.6198
15,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.49179998
16,2,413,414,L4,Internal_organ_or_component,0.8673
17,2,421,423,SUV,Test,0.9899
18,2,428,428,4,Test_Result,0.779
19,3,456,472,stage III disease,Heart_Disease,0.3536333
20,4,475,477,Her,Gender,0.9999
21,4,486,499,echocardiogram,Test,0.983
22,4,511,527,ejection fraction,Test,0.78894997
23,4,532,534,45%,Test_Result,0.9082
24,4,539,541,49%,Test_Result,0.7783
25,5,545,547,She,Gender,0.9999
26,5,568,583,Oncology service,Clinical_Dept,0.8259
27,5,600,611,chemotherapy,Treatment,0.9995
28,5,616,632,"September 1, 2007",Date,0.57875
29,5,639,647,cisplatin,Drug_Ingredient,0.9282
30,5,649,664,75 mg/centimeter,Strength,0.5732
31,5,683,688,109 mg,Strength,0.7955
32,5,690,691,IV,Route,0.9924
33,5,703,714,over 2 hours,Duration,0.2995
34,5,719,735,"September 1, 2007",Date,0.5768

 ******************** ner_abbreviation_clinical Model Results ********************

  sentence  begin  end chunks entity confidence
0        1    219  221    PET   ABBR        1.0
1        1    223  224     CT   ABBR        1.0
2        2    413  414     L4   ABBR        1.0
3        2    421  423    SUV   ABBR        1.0
4        5    690  691     IV   ABBR        1.0

 ******************** ner_covid_trials Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.8001334
1,1,316,330,lymphadenopathy,Disease_Syndrome_Disorder,0.9663
2,2,334,336,She,Gender,0.9995
3,3,456,464,stage III,Trial_Phase,0.70685
4,5,545,547,She,Gender,0.9998
5,5,600,611,chemotherapy,Treatment,0.9906
6,5,616,632,"September 1, 2007",Date,0.936325
7,5,639,647,cisplatin,Drug_Ingredient,0.9608
8,5,683,688,109 mg,Dosage,0.83809996
9,5,690,691,IV,Route,0.9967
10,5,719,735,"September 1, 2007",Date,0.91715

 ******************** ner_human_phenotype_gene_clinical Model Results ********************

  sentence  begin  end                         chunks entity  confidence
0        0     15   34           chest tube placement     HP   0.9459999
1        0    158  179         malignant mesothelioma     HP  0.83739996
2        1    271  279                      bilateral     HP      0.9917
3        1    281  309  pleural pericardial effusions     HP   0.7528667
4        5    687  688                             mg   GENE      0.6901

 ******************** jsl_ner_wip_greedy_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.38986668
1,0,75,86,thoracoscopy,Procedure,0.9627
2,0,93,106,fluid biopsies,Procedure,0.6287
3,0,146,179,epithelioid malignant mesothelioma,Oncological,0.77963334
4,1,219,224,PET CT,Test,0.61195004
5,1,240,268,extensive uptake in the chest,Symptom,0.42046
6,1,271,279,bilateral,Direction,0.4811
7,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.35029998
8,1,316,330,lymphadenopathy,Symptom,0.9886
9,2,334,336,She,Gender,0.9986
10,2,347,358,acidic fluid,Symptom,0.24340001
11,2,361,368,pectoral,Internal_organ_or_component,0.7872
12,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.3719
13,2,413,414,L4,Internal_organ_or_component,0.6547
14,2,421,423,SUV,Test,0.77
15,2,428,428,4,Test_Result,0.4117
16,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.18936668
17,4,475,477,Her,Gender,0.9993
18,4,486,499,echocardiogram,Test,0.9492
19,4,511,527,ejection fraction,Test,0.7333
20,4,532,541,45% to 49%,Test_Result,0.5097
21,5,545,547,She,Gender,0.9996
22,5,568,583,Oncology service,Clinical_Dept,0.7143
23,5,600,650,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.4660778
24,5,683,688,109 mg,Strength,0.85074997
25,5,690,691,IV,Route,0.9845
26,5,703,714,over 2 hours,Duration,0.45116666
27,5,719,735,"September 1, 2007",Date,0.546875

 ******************** ner_cellular Model Results ********************
No Result For This Model

 ******************** ner_cancer_genetics Model Results ********************
No Result For This Model

 ******************** ner_biomedical_bc2gm Model Results ********************
No Result For This Model


 ******************** jsl_ner_wip_modifier_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.38986668
1,0,75,86,thoracoscopy,Procedure,0.9627
2,0,93,106,fluid biopsies,Procedure,0.6287
3,0,146,179,epithelioid malignant mesothelioma,Oncological,0.77963334
4,1,219,224,PET CT,Test,0.61195004
5,1,240,268,extensive uptake in the chest,Symptom,0.42046
6,1,271,279,bilateral,Direction,0.4811
7,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.35029998
8,1,316,330,lymphadenopathy,Symptom,0.9886
9,2,334,336,She,Gender,0.9986
10,2,347,358,acidic fluid,Symptom,0.24340001
11,2,361,368,pectoral,Internal_organ_or_component,0.7872
12,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.3719
13,2,413,414,L4,Internal_organ_or_component,0.6547
14,2,421,423,SUV,Test,0.77
15,2,428,428,4,Test_Result,0.4117
16,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.18936668
17,4,475,477,Her,Gender,0.9993
18,4,486,499,echocardiogram,Test,0.9492
19,4,511,527,ejection fraction,Test,0.7333
20,4,532,541,45% to 49%,Test_Result,0.5097
21,5,545,547,She,Gender,0.9996
22,5,568,583,Oncology service,Clinical_Dept,0.7143
23,5,600,650,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.4660778
24,5,683,688,109 mg,Strength,0.85074997
25,5,690,691,IV,Route,0.9845
26,5,703,714,over 2 hours,Duration,0.45116666
27,5,719,735,"September 1, 2007",Date,0.546875

 ******************** ner_drugs_greedy Model Results ********************

  sentence  begin  end                              chunks entity confidence
0        5    600  611                        chemotherapy   DRUG     0.9915
1        5    639  672  cisplatin 75 mg/centimeter squared   DRUG   0.736475

 ******************** ner_deid_sd_large Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.992875
1        5    719  735  September 1, 2007   DATE     0.9836

 ******************** ner_diseases Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,52,60,the fluid,Disease,0.76675
1,0,146,179,epithelioid malignant mesothelioma,Disease,0.9227
2,1,240,268,extensive uptake in the chest,Disease,0.80366004
3,1,271,309,bilateral pleural pericardial effusions,Disease,0.96672505
4,1,316,330,lymphadenopathy,Disease,0.9999
5,2,347,358,acidic fluid,Disease,0.94850004
6,3,456,472,stage III disease,Disease,0.9553333

 ******************** nerdl_tumour_demo Model Results ********************
No Result For This Model


 ******************** ner_deid_subentity_augmented Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.99487495
1        5    719  735  September 1, 2007   DATE      0.9971

 ******************** ner_jsl_enriched Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.5127333
1,0,40,60,drainage of the fluid,Symptom,0.30287498
2,0,75,86,thoracoscopy,Procedure,0.9961
3,0,93,106,fluid biopsies,Procedure,0.86285
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.67466664
5,1,219,224,PET CT,Test,0.69624996
6,1,240,255,extensive uptake,ImagingFindings,0.45735002
7,1,264,268,chest,External_body_part_or_region,0.6544
8,1,271,279,bilateral,Direction,0.9968
9,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.36453333
10,1,316,330,lymphadenopathy,Symptom,0.9972
11,2,334,336,She,Gender,0.9999
12,2,347,358,acidic fluid,Symptom,0.21935001
13,2,361,368,pectoral,Internal_organ_or_component,0.9615
14,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.3542
15,2,413,414,L4,Internal_organ_or_component,0.653
16,2,421,423,SUV,Test,0.9198
17,2,428,428,4,Test_Result,0.3449
18,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.19663334
19,4,475,477,Her,Gender,0.9999
20,4,486,499,echocardiogram,Test,0.9972
21,4,511,527,ejection fraction,Test,0.6564
22,4,532,541,45% to 49%,Test_Result,0.3271
23,5,545,547,She,Gender,1.0
24,5,568,583,Oncology service,Clinical_Dept,0.8312
25,5,600,611,chemotherapy,Treatment,0.9961
26,5,616,632,"September 1, 2007",Date,0.67894995
27,5,639,647,cisplatin,Drug_Ingredient,0.9829
28,5,649,664,75 mg/centimeter,Strength,0.52205
29,5,683,688,109 mg,Strength,0.74434996
30,5,690,691,IV,Route,0.9989
31,5,703,714,over 2 hours,Duration,0.27086666
32,5,719,735,"September 1, 2007",Date,0.649475

 ******************** ner_genetic_variants Model Results ********************
No Result For This Model


 ******************** ner_bionlp Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,24,chest tube,Tissue,0.7381
1,0,146,179,epithelioid malignant mesothelioma,Cancer,0.99289995
2,1,187,193,patient,Organism,1.0
3,1,264,268,chest,Organism_subdivision,0.7252
4,1,281,299,pleural pericardial,Multi-tissue_structure,0.95265
5,2,334,336,She,Organism,0.9652
6,2,361,368,pectoral,Multi-tissue_structure,0.7478
7,2,374,397,intramammary lymph nodes,Multi-tissue_structure,0.99906665
8,2,413,414,L4,Organism_subdivision,0.8929
9,5,545,547,She,Organism,0.9757
10,5,639,647,cisplatin,Simple_chemical,1.0

 ******************** ner_measurements_clinical Model Results ********************

  sentence  begin  end      chunks        entity  confidence
0        4    532  541  45% to 49%  Measurements  0.93483335
1        5    683  685         109  Measurements      0.9978
2        5    687  688          mg         Units      0.9897

 ******************** ner_diseases_large Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,146,179,epithelioid malignant mesothelioma,Disease,0.6461667
1,1,264,309,"chest, bilateral pleural pericardial effusions",Disease,0.75486666
2,1,316,330,lymphadenopathy,Disease,0.9945

 ******************** ner_living_species Model Results ********************

  sentence  begin  end        chunks   entity confidence
0        1    187  193       patient    HUMAN     0.9981
1        2    374  385  intramammary  SPECIES     0.7094

 ******************** ner_radiology Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.51626664
1,0,40,60,drainage of the fluid,Procedure,0.596475
2,0,75,86,thoracoscopy,Procedure,0.9119
3,0,93,106,fluid biopsies,Procedure,0.8919
4,0,146,179,epithelioid malignant mesothelioma,Disease_Syndrome_Disorder,0.6127333
5,1,219,224,PET CT,ImagingTest,0.84875
6,1,240,255,extensive uptake,ImagingFindings,0.74584997
7,1,264,268,chest,BodyPart,0.7238
8,1,271,299,bilateral pleural pericardial,BodyPart,0.57813334
9,1,301,309,effusions,ImagingFindings,0.9505
10,1,316,330,lymphadenopathy,ImagingFindings,0.9589
11,2,347,358,acidic fluid,Symptom,0.46240002
12,2,361,368,pectoral,BodyPart,0.8985
13,2,374,397,intramammary lymph nodes,BodyPart,0.46686664
14,2,403,408,uptake,OtherFindings,0.3704
15,2,413,414,L4,BodyPart,0.7656
16,2,421,423,SUV,Test,0.9806
17,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.71883327
18,4,486,499,echocardiogram,ImagingTest,0.8499
19,4,511,527,ejection fraction,OtherFindings,0.65744996
20,4,532,534,45%,Measurements,0.7109
21,4,539,541,49%,Measurements,0.5052
22,5,649,650,75,Measurements,0.9718
23,5,652,664,mg/centimeter,Units,0.9255
24,5,683,685,109,Measurements,0.7244
25,5,687,688,mg,Units,0.9886

 ******************** ner_deid_augmented Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE     0.73095
1        5    719  735  September 1, 2007   DATE  0.78297496

 ******************** ner_anatomy Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,56,60,fluid,Organism_substance,0.9908
1,0,93,106,fluid biopsies,Organism_substance,0.75049996
2,0,168,179,mesothelioma,Pathological_formation,0.9592
3,1,281,309,pleural pericardial effusions,Multi-tissue_structure,0.7043667
4,2,354,358,fluid,Organism_substance,0.8905
5,2,361,368,pectoral,Organ,0.9682
6,2,387,397,lymph nodes,Multi-tissue_structure,0.65225

 ******************** ner_deid_subentity_augmented_i2b2 Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.996025
1        5    719  735  September 1, 2007   DATE    0.99225

 ******************** ner_chemprot_clinical Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        1    223  224         CT  CHEMICAL     0.6036
1        5    639  647  cisplatin  CHEMICAL     0.9951

 ******************** ner_posology_experimental Model Results ********************

  sentence  begin  end                             chunks    entity confidence
0        5    600  611                       chemotherapy      Drug     0.9987
1        5    639  647                          cisplatin      Drug     0.9995
2        5    649  681  75 mg/centimeter squared equaling  Strength   0.708475
3        5    683  688                             109 mg  Strength     0.7835
4        5    690  691                                 IV     Route     0.9985

 ******************** ner_drugprot_clinical Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        5    639  647  cisplatin  CHEMICAL     0.9922

 ******************** ner_drugs Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        5    639  647  cisplatin  DrugChem     0.9409

 ******************** ner_deid_sd Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE    0.846875
1        5    719  735  September 1, 2007   DATE  0.80730003

 ******************** ner_posology_large Model Results ********************

  sentence  begin  end                    chunks    entity  confidence
0        5    600  611              chemotherapy      DRUG      0.9748
1        5    639  647                 cisplatin      DRUG      0.9923
2        5    649  672  75 mg/centimeter squared  STRENGTH   0.6071333
3        5    683  688                    109 mg  STRENGTH      0.5665
4        5    690  691                        IV     ROUTE      0.9997
5        5    693  701                 piggyback      DRUG      0.8181
6        5    703  714              over 2 hours  DURATION  0.64023334

 ******************** ner_nature_nero_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,9,12,time,Time,0.6433
1,0,15,34,chest tube placement,Medicalprocedure,0.19676666
2,0,40,60,drainage of the fluid,Medicalprocedure,0.29775003
3,0,75,86,thoracoscopy,Medicalprocedure,0.9553
4,0,93,106,fluid biopsies,Medicalprocedure,0.24865
5,0,146,179,epithelioid malignant mesothelioma,Disease,0.24723335
6,1,187,193,patient,Person,0.9818
7,1,219,224,PET CT,Medicalprocedure,0.43895
8,1,240,255,extensive uptake,Medicalfinding,0.14515
9,1,271,309,bilateral pleural pericardial effusions,Medicalfinding,0.081025004
10,1,316,330,lymphadenopathy,Medicalfinding,0.5788
11,2,347,358,acidic fluid,Chemical,0.06815
12,2,361,397,pectoral and intramammary lymph nodes,Bodypart,0.14089999
13,2,403,408,uptake,Biologicalprocess,0.2438
14,2,413,414,L4,Bodypart,0.1934
15,2,421,423,SUV,Quantity,0.2055
16,2,428,428,4,Measurement,0.3988
17,3,456,472,stage III disease,Disease,0.4118
18,4,486,499,echocardiogram,Medicalprocedure,0.2991
19,4,511,527,ejection fraction,Quantity,0.0972
20,4,532,541,45% to 49%,Measurement,0.25793335
21,5,568,583,Oncology service,Facility,0.30775
22,5,600,611,chemotherapy,Medicalprocedure,0.8801
23,5,616,632,"September 1, 2007",Duration,0.402575
24,5,639,701,cisplatin 75 mg/centimeter squared equaling 10...,Drug,0.13763334
25,5,708,714,2 hours,Duration,0.3237
26,5,719,735,"September 1, 2007",Duration,0.2708

 ******************** ner_deid_large Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.99442506
1        5    719  735  September 1, 2007   DATE    0.981325

 ******************** ner_clinical_trials_abstracts Model Results ********************

  sentence  begin  end             chunks             entity confidence
0        5    616  632  September 1, 2007          TimePoint     0.7493
1        5    687  688                 mg  BioAndMedicalUnit        1.0
2        5    719  735  September 1, 2007          TimePoint     0.7186

 ******************** ner_deid_generic_augmented Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.971175
1        5    719  735  September 1, 2007   DATE   0.954275

 ******************** ner_posology Model Results ********************

  sentence  begin  end            chunks    entity  confidence
0        5    600  611      chemotherapy      DRUG      0.9983
1        5    639  647         cisplatin      DRUG      0.9226
2        5    649  664  75 mg/centimeter  STRENGTH  0.76170003
3        5    683  688            109 mg  STRENGTH     0.58815
4        5    690  691                IV     ROUTE      0.9992
5        5    693  701         piggyback      DRUG      0.5382
6        5    703  714      over 2 hours  DURATION      0.6929

 ******************** ner_deidentify_dl Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE    0.975175
1        5    719  735  September 1, 2007   DATE  0.90697503

 ******************** ner_supplement_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,93,106,fluid biopsies,CONDITION,0.6092
1,1,264,309,"chest, bilateral pleural pericardial effusions",CONDITION,0.9162167
2,1,316,330,lymphadenopathy,CONDITION,0.9993
3,2,347,358,acidic fluid,CONDITION,0.9814
4,2,361,368,pectoral,BENEFIT,0.698
5,2,374,391,intramammary lymph,CONDITION,0.8621

 ******************** ner_deid_enriched Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.89425004
1        5    719  735  September 1, 2007   DATE  0.98062503

 ******************** ner_chemd_clinical Model Results ********************

  sentence  begin  end     chunks   entity confidence
0        5    639  647  cisplatin  TRIVIAL     0.9917

 ******************** ner_bacterial_species Model Results ********************
No Result For This Model


 ******************** ner_drugs_large Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,5,600,611,chemotherapy,DRUG,0.9989
1,5,639,691,cisplatin 75 mg/centimeter squared equaling 10...,DRUG,0.78898746

 ******************** ner_biomarker Model Results ********************

  sentence  begin  end                  chunks             entity  confidence
0        0     93  106          fluid biopsies               Test     0.55095
1        0    146  156             epithelioid     CancerModifier      0.9363
2        0    158  179  malignant mesothelioma           CancerDx     0.97315
3        1    219  224                  PET CT  Radiological_Test     0.75115
4        3    456  464               stage III            Staging  0.98405004
5        5    600  611            chemotherapy       Chemotherapy      0.9947
6        5    616  632       September 1, 2007               Date    0.621125
7        5    639  647               cisplatin       Chemotherapy      0.9993
8        5    683  688                  109 mg             Dosage      0.7039
9        5    719  735       September 1, 2007               Date    0.664325

 ******************** ner_clinical_large Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,TREATMENT,0.9526333
1,0,40,60,drainage of the fluid,PROBLEM,0.7372
2,0,75,86,thoracoscopy,TREATMENT,0.6497
3,0,93,106,fluid biopsies,TEST,0.7528
4,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.97339994
5,1,217,224,a PET CT,TEST,0.94320005
6,1,240,268,extensive uptake in the chest,PROBLEM,0.90375996
7,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.96755
8,1,316,330,lymphadenopathy,PROBLEM,0.9956
9,2,347,358,acidic fluid,PROBLEM,0.96854997
10,2,361,397,pectoral and intramammary lymph nodes,PROBLEM,0.748
11,2,403,414,uptake in L4,PROBLEM,0.8012333
12,2,421,423,SUV,TEST,0.9959
13,3,456,472,stage III disease,PROBLEM,0.8552334
14,4,475,499,Her repeat echocardiogram,TEST,0.8606667
15,4,508,527,an ejection fraction,TEST,0.7115
16,5,600,611,chemotherapy,TREATMENT,0.9994
17,5,639,647,cisplatin,TREATMENT,0.9996
18,5,690,701,IV piggyback,TREATMENT,0.72965

 ******************** jsl_rd_ner_wip_greedy_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.3780667
1,0,40,60,drainage of the fluid,Symptom,0.220275
2,0,75,86,thoracoscopy,Procedure,0.9868
3,0,93,106,fluid biopsies,Procedure,0.6185
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.863
5,1,219,224,PET CT,ImagingTest,0.87745
6,1,240,255,extensive uptake,ImagingFindings,0.5199
7,1,264,268,chest,BodyPart,0.6398
8,1,271,279,bilateral,Direction,0.9666
9,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.30393335
10,1,316,330,lymphadenopathy,Symptom,0.9352
11,2,334,336,She,Gender,0.9996
12,2,347,358,acidic fluid,Symptom,0.13010001
13,2,361,368,pectoral,BodyPart,0.852
14,2,374,397,intramammary lymph nodes,BodyPart,0.42610002
15,2,413,414,L4,BodyPart,0.7413
16,2,421,423,SUV,Test,0.9597
17,2,428,428,4,Test_Result,0.7571
18,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.25123334
19,4,475,477,Her,Gender,0.9993
20,4,486,499,echocardiogram,ImagingTest,0.8135
21,4,511,527,ejection fraction,Test,0.57554996
22,4,532,541,45% to 49%,Test_Result,0.55973333
23,5,545,547,She,Gender,0.9994
24,5,568,583,Oncology service,Clinical_Dept,0.83315
25,5,600,611,chemotherapy,Treatment,0.9994
26,5,616,632,"September 1, 2007",Date,0.536425
27,5,639,650,cisplatin 75,Drug,0.3294
28,5,683,688,109 mg,Strength,0.5406
29,5,690,701,IV piggyback,Route,0.5315
30,5,703,714,over 2 hours,Frequency,0.28546667
31,5,719,735,"September 1, 2007",Date,0.47405

 ******************** ner_pathogen Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,146,179,epithelioid malignant mesothelioma,MedicalCondition,0.8428667
1,1,219,221,PET,Medicine,0.6681
2,1,271,309,bilateral pleural pericardial effusions,MedicalCondition,0.902
3,1,316,330,lymphadenopathy,MedicalCondition,0.9827
4,2,374,391,intramammary lymph,MedicalCondition,0.48145002
5,5,639,647,cisplatin,Medicine,0.9982

 ******************** ner_medmentions_coarse Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Therapeutic_or_Preventive_Procedure,0.36516666
1,0,40,47,drainage,Therapeutic_or_Preventive_Procedure,0.4727
2,0,56,60,fluid,Body_Substance,0.7212
3,0,75,86,thoracoscopy,Diagnostic_Procedure,0.9583
4,0,93,106,fluid biopsies,Diagnostic_Procedure,0.8891
5,0,146,179,epithelioid malignant mesothelioma,Neoplastic_Process,0.6380667
6,1,219,224,PET CT,Diagnostic_Procedure,0.7052
7,1,264,268,chest,Body_Location_or_Region,0.3164
8,1,271,309,bilateral pleural pericardial effusions,Disease_or_Syndrome,0.60230005
9,1,316,330,lymphadenopathy,Disease_or_Syndrome,0.9749
10,2,347,358,acidic fluid,Chemical,0.4011
11,2,361,368,pectoral,"Body_Part,_Organ,_or_Organ_Component",0.3486
12,2,374,397,intramammary lymph nodes,"Body_Part,_Organ,_or_Organ_Component",0.55473334
13,2,403,408,uptake,Biologic_Function,0.9737
14,2,413,414,L4,"Body_Part,_Organ,_or_Organ_Component",0.7707
15,2,421,423,SUV,Quantitative_Concept,0.9767
16,3,456,472,stage III disease,Disease_or_Syndrome,0.34710002
17,4,479,499,repeat echocardiogram,Diagnostic_Procedure,0.5894
18,4,511,527,ejection fraction,Clinical_Attribute,0.48065
19,5,568,583,Oncology service,Organization,0.6135
20,5,600,611,chemotherapy,Therapeutic_or_Preventive_Procedure,0.9682
21,5,639,647,cisplatin,Pharmacologic_Substance,0.6573

 ******************** ner_radiology_wip_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.49003336
1,0,40,60,drainage of the fluid,Procedure,0.6985
2,0,75,86,thoracoscopy,Procedure,0.724
3,0,93,106,fluid biopsies,Procedure,0.86725
4,0,158,179,malignant mesothelioma,Disease_Syndrome_Disorder,0.73555
5,1,219,224,PET CT,ImagingTest,0.76355
6,1,240,255,extensive uptake,ImagingFindings,0.67755
7,1,264,268,chest,BodyPart,0.9731
8,1,271,279,bilateral,Direction,0.9242
9,1,281,299,pleural pericardial,BodyPart,0.55285
10,1,301,309,effusions,ImagingFindings,0.8569
11,1,316,330,lymphadenopathy,ImagingFindings,0.9438
12,2,347,358,acidic fluid,Symptom,0.57955
13,2,361,368,pectoral,BodyPart,0.9582
14,2,374,397,intramammary lymph nodes,BodyPart,0.3478333
15,2,403,408,uptake,ImagingFindings,0.3102
16,2,413,414,L4,BodyPart,0.8154
17,2,421,423,SUV,Test,0.6648
18,2,428,428,4,Measurements,0.5026
19,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.6250333
20,4,486,499,echocardiogram,ImagingTest,0.7168
21,4,511,541,ejection fraction of 45% to 49%,OtherFindings,0.6937833
22,5,649,650,75,Measurements,0.9931
23,5,652,664,mg/centimeter,Units,0.3847
24,5,683,685,109,Measurements,0.5697
25,5,687,688,mg,Units,0.991

 ******************** ner_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,TREATMENT,0.9526333
1,0,40,60,drainage of the fluid,PROBLEM,0.7372
2,0,75,86,thoracoscopy,TREATMENT,0.6497
3,0,93,106,fluid biopsies,TEST,0.7528
4,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.97339994
5,1,217,224,a PET CT,TEST,0.94320005
6,1,240,268,extensive uptake in the chest,PROBLEM,0.90375996
7,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.96755
8,1,316,330,lymphadenopathy,PROBLEM,0.9956
9,2,347,358,acidic fluid,PROBLEM,0.96854997
10,2,361,397,pectoral and intramammary lymph nodes,PROBLEM,0.748
11,2,403,414,uptake in L4,PROBLEM,0.8012333
12,2,421,423,SUV,TEST,0.9959
13,3,456,472,stage III disease,PROBLEM,0.8552334
14,4,475,499,Her repeat echocardiogram,TEST,0.8606667
15,4,508,527,an ejection fraction,TEST,0.7115
16,5,600,611,chemotherapy,TREATMENT,0.9994
17,5,639,647,cisplatin,TREATMENT,0.9996
18,5,690,701,IV piggyback,TREATMENT,0.72965

 ******************** ner_chexpert Model Results ********************

   sentence  begin  end           chunks entity confidence
0         0     21   24             tube    OBS      0.992
1         0     26   34        placement    OBS     0.9443
2         0     40   47         drainage    OBS     0.9802
3         0    146  156      epithelioid    OBS     0.9788
4         0    158  166        malignant    OBS     0.9871
5         0    168  179     mesothelioma    OBS     0.9832
6         1    240  248        extensive    OBS     0.9469
7         1    271  279        bilateral   ANAT        1.0
8         1    281  287          pleural   ANAT        1.0
9         1    289  299      pericardial   ANAT        1.0
10        1    301  309        effusions    OBS     0.9999
11        1    316  330  lymphadenopathy    OBS     0.9999
12        2    347  352           acidic    OBS     0.9986
13        2    354  358            fluid    OBS     0.9966
14        2    361  368         pectoral   ANAT     0.9972
15        2    374  385     intramammary   ANAT     0.9962
16        2    387  391            lymph    OBS     0.5574
17        2    393  397            nodes    OBS     0.6638

 ******************** ner_chemicals Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    639  647  cisplatin   CHEM     0.9993

 ******************** ner_deid_synthetic Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE    0.842575
1        5    719  735  September 1, 2007   DATE  0.90424997

 ******************** ner_events_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,4,12,this time,DATE,0.749
1,0,15,34,chest tube placement,TREATMENT,0.9272334
2,0,40,47,drainage,TREATMENT,0.8659
3,0,52,60,the fluid,PROBLEM,0.4505
4,0,75,86,thoracoscopy,TEST,0.999
5,0,93,106,fluid biopsies,TEST,0.81295
6,0,137,144,revealed,EVIDENTIAL,0.9098
7,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.88753337
8,1,204,210,stained,TEST,0.4576
9,1,217,224,a PET CT,TEST,0.8901
10,1,233,238,showed,EVIDENTIAL,0.9928
11,1,240,268,extensive uptake in the chest,PROBLEM,0.8134801
12,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.77522504
13,1,316,330,lymphadenopathy,PROBLEM,0.9938
14,2,347,397,"acidic fluid, pectoral and intramammary lymph ...",PROBLEM,0.670775
15,2,403,414,uptake in L4,PROBLEM,0.7688667
16,2,421,423,SUV,TEST,0.9687
17,3,456,472,stage III disease,PROBLEM,0.77113336
18,4,475,499,Her repeat echocardiogram,TEST,0.762
19,4,501,506,showed,EVIDENTIAL,0.8502
20,4,508,527,an ejection fraction,TEST,0.6353
21,5,553,563,transferred,OCCURRENCE,0.9978
22,5,568,583,Oncology service,CLINICAL_DEPT,0.8858
23,5,600,611,chemotherapy,TREATMENT,0.9988
24,5,616,632,"September 1, 2007",DATE,0.82707494
25,5,639,647,cisplatin,TREATMENT,0.9992
26,5,690,701,IV piggyback,TREATMENT,0.81755
27,5,708,714,2 hours,DURATION,0.7003
28,5,719,735,"September 1, 2007",DATE,0.59790003

 ******************** ner_posology_small Model Results ********************

  sentence  begin  end        chunks    entity confidence
0        5    600  611  chemotherapy      DRUG     0.9956
1        5    639  647     cisplatin      DRUG     0.9981
2        5    649  650            75  STRENGTH        1.0
3        5    683  688        109 mg  STRENGTH    0.86925
4        5    690  691            IV     ROUTE     0.9975
5        5    693  701     piggyback      FORM     0.9257
6        5    703  714  over 2 hours  DURATION  0.6864333

 ******************** ner_nihss Model Results ********************
No Result For This Model


 ******************** ner_anatomy_coarse Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,24,chest tube,Anatomy,0.9935
1,0,56,60,fluid,Anatomy,0.6578
2,0,93,106,fluid biopsies,Anatomy,0.90225
3,0,146,179,epithelioid malignant mesothelioma,Anatomy,0.9373
4,1,264,268,chest,Anatomy,0.9934
5,1,271,309,bilateral pleural pericardial effusions,Anatomy,0.879475
6,2,354,358,fluid,Anatomy,0.8928
7,2,361,368,pectoral,Anatomy,0.9971
8,2,374,397,intramammary lymph nodes,Anatomy,0.9921667

 ******************** ner_human_phenotype_go_clinical Model Results ********************

  sentence  begin  end                chunks entity  confidence
0        0     15   34  chest tube placement     GO  0.78533334
1        0    168  179          mesothelioma     HP      0.9402
2        1    271  279             bilateral     HP      0.9886
3        1    316  330       lymphadenopathy     HP      0.9511

 ******************** ner_jsl_slim Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.6034333
1,0,40,60,drainage of the fluid,Procedure,0.3985
2,0,75,86,thoracoscopy,Procedure,0.9869
3,0,93,106,fluid biopsies,Procedure,0.74905
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.73946667
5,1,219,224,PET CT,Test,0.5567
6,1,240,268,extensive uptake in the chest,Symptom,0.44191998
7,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.46723333
8,1,316,330,lymphadenopathy,Symptom,0.9701
9,2,334,336,She,Demographics,0.9986
10,2,347,358,acidic fluid,Symptom,0.30525
11,2,361,368,pectoral,Body_Part,0.979
12,2,374,397,intramammary lymph nodes,Body_Part,0.5018334
13,2,413,414,L4,Body_Part,0.8264
14,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.31986666
15,4,475,477,Her,Demographics,0.9996
16,4,486,499,echocardiogram,Test,0.9299
17,4,511,527,ejection fraction,Test,0.78625
18,4,532,541,45% to 49%,Test_Result,0.72013336
19,5,545,547,She,Demographics,0.9993
20,5,568,583,Oncology service,Clinical_Dept,0.737
21,5,600,650,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.6103889
22,5,719,735,"September 1, 2007",Date_Time,0.65085

 ******************** ner_jsl Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.46089998
1,0,40,60,drainage of the fluid,Procedure,0.40230003
2,0,75,86,thoracoscopy,Procedure,0.9927
3,0,93,106,fluid biopsies,Procedure,0.80535
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.934
5,1,219,224,PET CT,Test,0.946
6,1,240,248,extensive,Modifier,0.8028
7,1,250,255,uptake,ImagingFindings,0.5804
8,1,264,268,chest,External_body_part_or_region,0.7954
9,1,271,279,bilateral,Direction,0.5107
10,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.37933335
11,1,316,330,lymphadenopathy,Symptom,0.9799
12,2,334,336,She,Gender,0.9999
13,2,347,358,acidic fluid,Symptom,0.2116
14,2,361,368,pectoral,Internal_organ_or_component,0.6198
15,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.49179998
16,2,413,414,L4,Internal_organ_or_component,0.8673
17,2,421,423,SUV,Test,0.9899
18,2,428,428,4,Test_Result,0.779
19,3,456,472,stage III disease,Heart_Disease,0.3536333
20,4,475,477,Her,Gender,0.9999
21,4,486,499,echocardiogram,Test,0.983
22,4,511,527,ejection fraction,Test,0.78894997
23,4,532,534,45%,Test_Result,0.9082
24,4,539,541,49%,Test_Result,0.7783
25,5,545,547,She,Gender,0.9999
26,5,568,583,Oncology service,Clinical_Dept,0.8259
27,5,600,611,chemotherapy,Treatment,0.9995
28,5,616,632,"September 1, 2007",Date,0.57875
29,5,639,647,cisplatin,Drug_Ingredient,0.9282
30,5,649,664,75 mg/centimeter,Strength,0.5732
31,5,683,688,109 mg,Strength,0.7955
32,5,690,691,IV,Route,0.9924
33,5,703,714,over 2 hours,Duration,0.2995
34,5,719,735,"September 1, 2007",Date,0.5768

 ******************** ner_jsl_greedy Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.38986668
1,0,75,86,thoracoscopy,Procedure,0.9627
2,0,93,106,fluid biopsies,Procedure,0.6287
3,0,146,179,epithelioid malignant mesothelioma,Oncological,0.77963334
4,1,219,224,PET CT,Test,0.61195004
5,1,240,268,extensive uptake in the chest,Symptom,0.42046
6,1,271,279,bilateral,Direction,0.4811
7,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.35029998
8,1,316,330,lymphadenopathy,Symptom,0.9886
9,2,334,336,She,Gender,0.9986
10,2,347,358,acidic fluid,Symptom,0.24340001
11,2,361,368,pectoral,Internal_organ_or_component,0.7872
12,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.3719
13,2,413,414,L4,Internal_organ_or_component,0.6547
14,2,421,423,SUV,Test,0.77
15,2,428,428,4,Test_Result,0.4117
16,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.18936668
17,4,475,477,Her,Gender,0.9993
18,4,486,499,echocardiogram,Test,0.9492
19,4,511,527,ejection fraction,Test,0.7333
20,4,532,541,45% to 49%,Test_Result,0.5097
21,5,545,547,She,Gender,0.9996
22,5,568,583,Oncology service,Clinical_Dept,0.7143
23,5,600,650,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.4660778
24,5,683,688,109 mg,Strength,0.85074997
25,5,690,691,IV,Route,0.9845
26,5,703,714,over 2 hours,Duration,0.45116666
27,5,719,735,"September 1, 2007",Date,0.546875

 ******************** ner_ade_binary Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,146,179,epithelioid malignant mesothelioma,ADE,0.6943
1,1,250,268,uptake in the chest,ADE,0.5401
2,1,271,309,bilateral pleural pericardial effusions,ADE,0.610125
3,1,316,330,lymphadenopathy,ADE,0.9985
4,2,347,358,acidic fluid,ADE,0.6749
5,2,361,397,pectoral and intramammary lymph nodes,ADE,0.72288
6,2,403,423,uptake in L4 with SUV,ADE,0.76716
7,3,462,472,III disease,ADE,0.54185
8,4,511,527,ejection fraction,ADE,0.72225

 ******************** ner_events_admission_clinical Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,TREATMENT,0.8781667
1,0,40,60,drainage of the fluid,TREATMENT,0.4451
2,0,75,86,thoracoscopy,TEST,0.9948
3,0,93,106,fluid biopsies,TEST,0.84274995
4,0,137,144,revealed,EVIDENTIAL,0.5703
5,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.87450004
6,1,204,210,stained,PROBLEM,0.3036
7,1,217,224,a PET CT,TEST,0.74953336
8,1,233,238,showed,EVIDENTIAL,0.9502
9,1,240,268,extensive uptake in the chest,PROBLEM,0.73456
10,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.845675
11,1,316,330,lymphadenopathy,PROBLEM,0.9673
12,2,347,397,"acidic fluid, pectoral and intramammary lymph ...",PROBLEM,0.60776246
13,2,403,414,uptake in L4,PROBLEM,0.5861667
14,2,421,423,SUV,TEST,0.9866
15,3,456,472,stage III disease,PROBLEM,0.8269
16,4,475,499,Her repeat echocardiogram,TEST,0.6921666
17,4,501,506,showed,EVIDENTIAL,0.9871
18,4,508,527,an ejection fraction,OCCURRENCE,0.40440002
19,5,553,563,transferred,OCCURRENCE,0.9965
20,5,568,583,Oncology service,CLINICAL_DEPT,0.7772
21,5,600,611,chemotherapy,TREATMENT,0.994
22,5,616,632,"September 1, 2007",DATE,0.925325
23,5,639,647,cisplatin,TREATMENT,0.9982
24,5,703,714,over 2 hours,FREQUENCY,0.72436666
25,5,719,735,"September 1, 2007",DATE,0.74775

**Now we will show all NER labels of tokens in the same dataframe.**

In [ ]:
def get_token_results(light_result):

  tokens = [j.result for j in light_result["token"]]
  sentences = [j.metadata["sentence"] for j in light_result["token"]]
  begins = [j.begin for j in light_result["token"]]
  ends = [j.end for j in light_result["token"]]
  model_list = [ a for a in light_result.keys() if (a not in ["sentence", "token"] and "_chunks" not in a)]

  df = pd.DataFrame({'sentence':sentences, 'begin': begins, 'end': ends, 'token':tokens})

  for model_name in model_list:
    
    temp_df = pd.DataFrame(light_result[model_name])
    temp_df["jsl_label"] = temp_df.iloc[:,0].apply(lambda x : x.result)
    temp_df = temp_df[["jsl_label"]]

    # temp_df = get_ner_result(model_name)
    temp_df.columns = [model_name]
    df = pd.concat([df, temp_df], axis=1)
    
  return df

In [ ]:
get_token_results(clinical_full_result)

,sentence,begin,end,token,ner_deid_augmented,ner_deid_subentity_augmented_i2b2,ner_radiology_wip_clinical,ner_deidentify_dl,ner_jsl_slim,ner_deid_synthetic,...,ner_posology_experimental,jsl_ner_wip_clinical,ner_biomedical_bc2gm,ner_jsl,ner_events_clinical,ner_supplement_clinical,ner_genetic_variants,ner_radiology,ner_posology,ner_covid_trials
0,0,1,2,At,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
1,0,4,7,this,O,O,O,O,O,O,...,O,O,O,O,B-DATE,O,O,O,O,O
2,0,9,12,time,O,O,O,O,O,O,...,O,O,O,O,I-DATE,O,O,O,O,O
3,0,13,13,",",O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
4,0,15,19,chest,O,O,B-Procedure,O,B-Procedure,O,...,O,B-Procedure,O,B-Procedure,B-TREATMENT,O,O,B-Procedure,O,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,5,716,717,on,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
124,5,719,727,September,B-DATE,B-DATE,O,B-DATE,B-Date_Time,B-DATE,...,O,B-Date,O,B-Date,B-DATE,O,O,O,O,B-Date
125,5,729,729,1,I-DATE,I-DATE,O,I-DATE,I-Date_Time,I-DATE,...,O,I-Date,O,I-Date,I-DATE,O,O,O,O,I-Date
126,5,730,730,",",I-DATE,I-DATE,O,I-DATE,I-Date_Time,I-DATE,...,O,I-Date,O,I-Date,I-DATE,O,O,O,O,I-Date
127,5,732,735,2007,I-DATE,I-DATE,O,I-DATE,I-Date_Time,I-DATE,...,O,I-Date,O,I-Date,I-DATE,O,O,O,O,I-Date

# BioBert NER Model Profiling Pretrained Pipeline

This pipeline can be used to explore all the available pretrained NER models at once. When you run this pipeline over your text, you will end up with the predictions coming out of each pretrained clinical NER model trained with `biobert_pubmed_base_cased`.

<center><b>NER Profiling BioBert Model List</b>


| | |
|-|-|
| ner_cellular_biobert           | ner_clinical_biobert             |
| ner_diseases_biobert           | ner_anatomy_coarse_biobert       |
| ner_events_biobert             | ner_human_phenotype_gene_biobert |
| ner_bionlp_biobert             | ner_posology_large_biobert       |
| ner_jsl_greedy_biobert         | jsl_rd_ner_wip_greedy_biobert    |
| ner_jsl_biobert                | ner_posology_biobert             |
| ner_anatomy_biobert            | jsl_ner_wip_greedy_biobert       |
| ner_jsl_enriched_biobert       | ner_chemprot_biobert             |
| ner_human_phenotype_go_biobert | ner_ade_biobert                  |
| ner_deid_biobert               | ner_risk_factors_biobert         |
| ner_deid_enriched_biobert      | ner_living_species_biobert                                |



</center>

You can check [Models Hub](https://nlp.johnsnowlabs.com/models) page for more information about all these models and more.

In [ ]:
biobert_profiling_pipeline = nlp.PretrainedPipeline("ner_profiling_biobert", "en", "clinical/models")

ner_profiling_biobert download started this may take some time.
Approx size to download 730.9 MB
[OK!]

In [ ]:
bio_result = biobert_profiling_pipeline.annotate(text)
bio_result.keys()

dict_keys(['ner_ade_biobert', 'ner_cellular_biobert_chunks', 'ner_human_phenotype_go_biobert', 'ner_events_biobert', 'ner_diseases_biobert_chunks', 'ner_events_biobert_chunks', 'jsl_ner_wip_greedy_biobert', 'ner_bionlp_biobert_chunks', 'ner_bionlp_biobert', 'ner_jsl_greedy_biobert_chunks', 'ner_jsl_biobert_chunks', 'ner_jsl_biobert', 'ner_anatomy_biobert_chunks', 'ner_posology_large_biobert', 'ner_jsl_enriched_biobert_chunks', 'jsl_rd_ner_wip_greedy_biobert', 'ner_human_phenotype_go_biobert_chunks', 'ner_posology_biobert', 'ner_deid_biobert_chunks', 'ner_jsl_greedy_biobert', 'ner_chemprot_biobert', 'ner_deid_enriched_biobert_chunks', 'ner_jsl_enriched_biobert', 'token', 'ner_deid_biobert', 'ner_clinical_biobert_chunks', 'ner_human_phenotype_gene_biobert', 'ner_anatomy_coarse_biobert_chunks', 'ner_human_phenotype_gene_biobert_chunks', 'ner_posology_large_biobert_chunks', 'jsl_rd_ner_wip_greedy_biobert_chunks', 'ner_posology_biobert_chunks', 'ner_clinical_biobert', 'ner_diseases_biobert', 'ner_living_species_biobert', 'jsl_ner_wip_greedy_biobert_chunks', 'ner_chemprot_biobert_chunks', 'ner_ade_biobert_chunks', 'ner_anatomy_coarse_biobert', 'ner_cellular_biobert', 'ner_risk_factors_biobert_chunks', 'ner_living_species_biobert_chunks', 'ner_anatomy_biobert', 'ner_deid_enriched_biobert', 'ner_risk_factors_biobert', 'sentence'])

In [ ]:
print("Clinical Text: \n", text, "\n \nResults:\n")

for i in bio_result.keys():
  print("{} : ".format(i), bio_result[i])

Clinical Text:
 A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .

Results:

ner_ade_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-ADE', 'O', 'B-ADE', 'O', 'B-ADE', 'I-ADE', 'O', 'O', 'B-ADE', 'O']
ner_cellular_biobert_chunks :  []
ner_human_phenotype_go_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_events_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-OCCURRENCE', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'O', 'B-TEST', 'O', 'O', 'O', 'O', 'O', 'B-OCCURRENCE', 'O', 'B-DURATION', 'I-DURATION', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_diseases_biobert_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_events_biobert_chunks :  ['gestational diabetes mellitus', 'eight years', 'presentation', 'type two diabetes mellitus ( T2DM', 'HTG-induced pancreatitis', 'three years', 'presentation', 'an acute hepatitis', 'obesity', 'a body mass index', 'BMI', 'presented', 'a one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
jsl_ner_wip_greedy_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Pregnancy', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_bionlp_biobert_chunks :  []
ner_bionlp_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_greedy_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_jsl_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute', 'hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_jsl_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Modifier', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_anatomy_biobert_chunks :  ['body']
ner_posology_large_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_jsl_enriched_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute', 'hepatitis', 'obesity', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
jsl_rd_ner_wip_greedy_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'O', 'O', 'B-Measurements', 'B-Units', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_human_phenotype_go_biobert_chunks :  ['obesity', 'polyuria', 'polydipsia']
ner_posology_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_biobert_chunks :  ['eight years', 'three years']
ner_jsl_greedy_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'B-Diabetes', 'I-Diabetes', 'I-Diabetes', 'I-Diabetes', 'O', 'B-Pregnancy', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'B-RelativeDate', 'I-RelativeDate', 'I-RelativeDate', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease_Syndrome_Disorder', 'I-Disease_Syndrome_Disorder', 'O', 'O', 'B-Obesity', 'O', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'O', 'B-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'I-BMI', 'O', 'O', 'O', 'O', 'B-Duration', 'O', 'O', 'B-Symptom', 'O', 'B-Symptom', 'O', 'B-Symptom', 'I-Symptom', 'O', 'O', 'B-Symptom', 'O']
ner_chemprot_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_enriched_biobert_chunks :  []
ner_jsl_enriched_biobert :  ['O', 'B-Age', 'B-Gender', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'I-Diagnosis', 'O', 'B-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'B-Diagnosis', 'I-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Modifier', 'B-Diagnosis', 'O', 'O', 'B-Diagnosis', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Symptom_Name', 'O', 'B-Symptom_Name', 'O', 'B-Symptom_Name', 'I-Symptom_Name', 'O', 'O', 'B-Symptom_Name', 'O']
token :  ['A', '28-year-old', 'female', 'with', 'a', 'history', 'of', 'gestational', 'diabetes', 'mellitus', 'diagnosed', 'eight', 'years', 'prior', 'to', 'presentation', 'and', 'subsequent', 'type', 'two', 'diabetes', 'mellitus', '(', 'T2DM', '),', 'one', 'prior', 'episode', 'of', 'HTG-induced', 'pancreatitis', 'three', 'years', 'prior', 'to', 'presentation', ',', 'associated', 'with', 'an', 'acute', 'hepatitis', ',', 'and', 'obesity', 'with', 'a', 'body', 'mass', 'index', '(', 'BMI', ')', 'of', '33.5', 'kg/m2', ',', 'presented', 'with', 'a', 'one-week', 'history', 'of', 'polyuria', ',', 'polydipsia', ',', 'poor', 'appetite', ',', 'and', 'vomiting', '.']
ner_deid_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DATE', 'I-DATE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_clinical_biobert_chunks :  ['gestational diabetes mellitus', 'subsequent type two diabetes mellitus ( T2DM', 'HTG-induced pancreatitis', 'an acute hepatitis', 'obesity', 'a body mass index ( BMI )', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_human_phenotype_gene_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'O', 'O', 'B-GENE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O', 'B-HP', 'O', 'O', 'O', 'O', 'O', 'B-HP', 'O']
ner_anatomy_coarse_biobert_chunks :  ['body']
ner_human_phenotype_gene_biobert_chunks :  ['obesity', 'mass', 'polyuria', 'polydipsia', 'vomiting']
ner_posology_large_biobert_chunks :  []
jsl_rd_ner_wip_greedy_biobert_chunks :  ['gestational diabetes mellitus', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'acute hepatitis', 'obesity', 'body mass index', '33.5', 'kg/m2', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_posology_biobert_chunks :  []
ner_clinical_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'I-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O', 'B-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'I-TEST', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'O', 'B-PROBLEM', 'I-PROBLEM', 'O', 'O', 'B-PROBLEM', 'O']
ner_diseases_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'I-Disease', 'I-Disease', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'O', 'B-Disease', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Disease', 'O', 'B-Disease', 'O', 'B-Disease', 'I-Disease', 'O', 'O', 'B-Disease', 'O']
ner_living_species_biobert :  ['O', 'O', 'B-HUMAN', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
jsl_ner_wip_greedy_biobert_chunks :  ['28-year-old', 'female', 'gestational diabetes mellitus', 'eight years prior', 'type two diabetes mellitus', 'T2DM', 'HTG-induced pancreatitis', 'three years prior', 'acute hepatitis', 'obesity', 'body mass index', 'BMI ) of 33.5 kg/m2', 'one-week', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_chemprot_biobert_chunks :  []
ner_ade_biobert_chunks :  ['pancreatitis', 'acute hepatitis', 'polyuria', 'polydipsia', 'poor appetite', 'vomiting']
ner_anatomy_coarse_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Anatomy', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_cellular_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_risk_factors_biobert_chunks :  ['diabetes mellitus', 'subsequent type two diabetes mellitus', 'obesity']
ner_living_species_biobert_chunks :  ['female']
ner_anatomy_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-Organism_subdivision', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_deid_enriched_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
ner_risk_factors_biobert :  ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'I-DIABETES', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'B-OBESE', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O']
sentence :  ['A 28-year-old female with a history of gestational diabetes mellitus diagnosed eight years prior to presentation and subsequent type two diabetes mellitus ( T2DM ), one prior episode of HTG-induced pancreatitis three years prior to presentation , associated with an acute hepatitis , and obesity with a body mass index ( BMI ) of 33.5 kg/m2 , presented with a one-week history of polyuria , polydipsia , poor appetite , and vomiting .']

In [ ]:
bio_full_result = biobert_profiling_pipeline.fullAnnotate(text2)[0]

In [ ]:
bio_full_result['ner_jsl_biobert_chunks']

[Annotation(chunk, 15, 34, chest tube placement, {'entity': 'Procedure', 'sentence': '0', 'chunk': '0', 'confidence': '0.5898667'}),
 Annotation(chunk, 40, 60, drainage of the fluid, {'entity': 'Symptom', 'sentence': '0', 'chunk': '1', 'confidence': '0.28855002'}),
 Annotation(chunk, 75, 86, thoracoscopy, {'entity': 'Procedure', 'sentence': '0', 'chunk': '2', 'confidence': '0.9924'}),
 Annotation(chunk, 93, 106, fluid biopsies, {'entity': 'Procedure', 'sentence': '0', 'chunk': '3', 'confidence': '0.76275'}),
 Annotation(chunk, 146, 179, epithelioid malignant mesothelioma, {'entity': 'Oncological', 'sentence': '0', 'chunk': '4', 'confidence': '0.53603333'}),
 Annotation(chunk, 219, 224, PET CT, {'entity': 'Test', 'sentence': '1', 'chunk': '5', 'confidence': '0.71395004'}),
 Annotation(chunk, 240, 255, extensive uptake, {'entity': 'ImagingFindings', 'sentence': '1', 'chunk': '6', 'confidence': '0.5604'}),
 Annotation(chunk, 264, 268, chest, {'entity': 'External_body_part_or_region', 'sentence': '1', 'chunk': '7', 'confidence': '0.7058'}),
 Annotation(chunk, 271, 279, bilateral, {'entity': 'Direction', 'sentence': '1', 'chunk': '8', 'confidence': '0.9832'}),
 Annotation(chunk, 281, 309, pleural pericardial effusions, {'entity': 'Disease_Syndrome_Disorder', 'sentence': '1', 'chunk': '9', 'confidence': '0.26483333'}),
 Annotation(chunk, 316, 330, lymphadenopathy, {'entity': 'Symptom', 'sentence': '1', 'chunk': '10', 'confidence': '0.9024'}),
 Annotation(chunk, 334, 336, She, {'entity': 'Gender', 'sentence': '2', 'chunk': '11', 'confidence': '0.9999'}),
 Annotation(chunk, 347, 358, acidic fluid, {'entity': 'Symptom', 'sentence': '2', 'chunk': '12', 'confidence': '0.325'}),
 Annotation(chunk, 361, 368, pectoral, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '13', 'confidence': '0.7713'}),
 Annotation(chunk, 374, 397, intramammary lymph nodes, {'entity': 'Internal_organ_or_component', 'sentence': '2', 'chunk': '14', 'confidence': '0.23506665'}),
 Annotation(chunk, 403, 414, uptake in L4, {'entity': 'ImagingFindings', 'sentence': '2', 'chunk': '15', 'confidence': '0.6043'}),
 Annotation(chunk, 421, 423, SUV, {'entity': 'Test', 'sentence': '2', 'chunk': '16', 'confidence': '0.95'}),
 Annotation(chunk, 428, 428, 4, {'entity': 'Test_Result', 'sentence': '2', 'chunk': '17', 'confidence': '0.5174'}),
 Annotation(chunk, 456, 464, stage III, {'entity': 'Modifier', 'sentence': '3', 'chunk': '18', 'confidence': '0.4131'}),
 Annotation(chunk, 466, 472, disease, {'entity': 'Oncological', 'sentence': '3', 'chunk': '19', 'confidence': '0.2835'}),
 Annotation(chunk, 475, 477, Her, {'entity': 'Gender', 'sentence': '4', 'chunk': '20', 'confidence': '1.0'}),
 Annotation(chunk, 486, 499, echocardiogram, {'entity': 'Test', 'sentence': '4', 'chunk': '21', 'confidence': '0.9883'}),
 Annotation(chunk, 511, 527, ejection fraction, {'entity': 'Test', 'sentence': '4', 'chunk': '22', 'confidence': '0.82905'}),
 Annotation(chunk, 532, 541, 45% to 49%, {'entity': 'Test_Result', 'sentence': '4', 'chunk': '23', 'confidence': '0.4547'}),
 Annotation(chunk, 545, 547, She, {'entity': 'Gender', 'sentence': '5', 'chunk': '24', 'confidence': '1.0'}),
 Annotation(chunk, 568, 583, Oncology service, {'entity': 'Clinical_Dept', 'sentence': '5', 'chunk': '25', 'confidence': '0.99284995'}),
 Annotation(chunk, 600, 611, chemotherapy, {'entity': 'Treatment', 'sentence': '5', 'chunk': '26', 'confidence': '0.9986'}),
 Annotation(chunk, 616, 632, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '27', 'confidence': '0.965975'}),
 Annotation(chunk, 639, 647, cisplatin, {'entity': 'Drug_Ingredient', 'sentence': '5', 'chunk': '28', 'confidence': '0.9809'}),
 Annotation(chunk, 649, 664, 75 mg/centimeter, {'entity': 'Strength', 'sentence': '5', 'chunk': '29', 'confidence': '0.39270002'}),
 Annotation(chunk, 683, 688, 109 mg, {'entity': 'Strength', 'sentence': '5', 'chunk': '30', 'confidence': '0.77709997'}),
 Annotation(chunk, 690, 701, IV piggyback, {'entity': 'Route', 'sentence': '5', 'chunk': '31', 'confidence': '0.72214997'}),
 Annotation(chunk, 703, 714, over 2 hours, {'entity': 'Frequency', 'sentence': '5', 'chunk': '32', 'confidence': '0.34986666'}),
 Annotation(chunk, 719, 735, September 1, 2007, {'entity': 'Date', 'sentence': '5', 'chunk': '33', 'confidence': '0.93887496'})]

In [ ]:
print("Clinical Text:\n", text2)

Clinical Text:

At this time, chest tube placement for drainage of the fluid occurred and thoracoscopy with fluid biopsies, which were performed, which revealed epithelioid malignant mesothelioma.
The patient was then stained with a PET CT, which showed extensive uptake in the chest, bilateral pleural pericardial effusions, and lymphadenopathy.
She also had acidic fluid, pectoral and intramammary lymph nodes and uptake in L4 with SUV of 4. This was consistent with stage III disease. Her repeat echocardiogram showed an ejection fraction of 45% to 49%.
She was transferred to Oncology service and started on chemotherapy on September 1, 2007 with cisplatin 75 mg/centimeter squared equaling 109 mg IV piggyback over 2 hours on September 1, 2007

**Show NER chunks in a pandas dataframe.**

In [ ]:
get_chunk_results(bio_full_result)

 ******************** ner_cellular_biobert Model Results ********************
No Result For This Model


 ******************** ner_diseases_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,146,179,epithelioid malignant mesothelioma,Disease,0.95236665
1,1,281,309,pleural pericardial effusions,Disease,0.8773667
2,1,316,330,lymphadenopathy,Disease,0.9807
3,3,456,472,stage III disease,Disease,0.8513667

 ******************** ner_events_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,TREATMENT,0.82250005
1,0,40,47,drainage,TREATMENT,0.9375
2,0,52,60,the fluid,PROBLEM,0.92555
3,0,75,86,thoracoscopy,TEST,0.6154
4,0,93,106,fluid biopsies,TEST,0.88645
5,0,137,144,revealed,EVIDENTIAL,0.9861
6,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.93763334
7,1,217,224,a PET CT,TEST,0.94936675
8,1,233,238,showed,EVIDENTIAL,0.9169
9,1,240,268,extensive uptake in the chest,PROBLEM,0.82536
10,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.876475
11,1,316,330,lymphadenopathy,PROBLEM,0.8454
12,2,347,397,"acidic fluid, pectoral and intramammary lymph ...",PROBLEM,0.73123753
13,2,403,414,uptake in L4,PROBLEM,0.7737
14,2,421,423,SUV,TEST,0.9839
15,3,456,472,stage III disease,PROBLEM,0.76570004
16,4,475,499,Her repeat echocardiogram,TEST,0.92633337
17,4,501,506,showed,EVIDENTIAL,0.9836
18,4,508,527,an ejection fraction,TEST,0.63166666
19,5,553,563,transferred,OCCURRENCE,0.9887
20,5,568,583,Oncology service,CLINICAL_DEPT,0.88925
21,5,600,611,chemotherapy,TREATMENT,0.9914
22,5,616,632,"September 1, 2007",DATE,0.814475
23,5,639,647,cisplatin,TREATMENT,0.9957
24,5,708,714,2 hours,DURATION,0.63945
25,5,719,735,"September 1, 2007",DATE,0.67277503

 ******************** ner_bionlp_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,24,chest tube,Multi-tissue_structure,0.63195
1,0,56,60,fluid,Organism_substance,0.9947
2,0,146,179,epithelioid malignant mesothelioma,Cancer,0.9557667
3,1,187,193,patient,Organism,1.0
4,1,264,268,chest,Organism_subdivision,0.8881
5,1,289,309,pericardial effusions,Multi-tissue_structure,0.72915
6,2,347,358,acidic fluid,Organism_substance,0.7724
7,2,361,368,pectoral,Multi-tissue_structure,0.9817
8,2,374,397,intramammary lymph nodes,Multi-tissue_structure,0.9721
9,2,413,414,L4,Multi-tissue_structure,0.9519
10,5,639,647,cisplatin,Simple_chemical,1.0

 ******************** ner_jsl_greedy_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.43430004
1,0,56,60,fluid,Symptom,0.4547
2,0,75,86,thoracoscopy,Procedure,0.9943
3,0,93,106,fluid biopsies,Procedure,0.6034
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.7372667
5,1,219,224,PET CT,Test,0.8478
6,1,240,255,extensive uptake,ImagingFindings,0.5046
7,1,264,268,chest,External_body_part_or_region,0.6914
8,1,271,279,bilateral,Direction,0.5708
9,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.249
10,1,316,330,lymphadenopathy,Symptom,0.8689
11,2,334,336,She,Gender,0.9998
12,2,347,358,acidic fluid,Symptom,0.2492
13,2,361,368,pectoral,External_body_part_or_region,0.5236
14,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.37393332
15,2,413,414,L4,Internal_organ_or_component,0.7177
16,2,421,423,SUV,Test,0.8601
17,3,456,472,stage III disease,Oncological,0.19683333
18,4,475,477,Her,Gender,0.9996
19,4,486,499,echocardiogram,Test,0.9874
20,4,511,527,ejection fraction,Test,0.8779
21,4,532,541,45% to 49%,Test_Result,0.62729996
22,5,545,547,She,Gender,0.9996
23,5,568,583,Oncology service,Clinical_Dept,0.90384996
24,5,600,664,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.53597
25,5,683,701,109 mg IV piggyback,Drug,0.531375
26,5,703,714,over 2 hours,Duration,0.50083333
27,5,719,735,"September 1, 2007",Date,0.513325

 ******************** ner_jsl_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.5898667
1,0,40,60,drainage of the fluid,Symptom,0.28855002
2,0,75,86,thoracoscopy,Procedure,0.9924
3,0,93,106,fluid biopsies,Procedure,0.76275
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.53603333
5,1,219,224,PET CT,Test,0.71395004
6,1,240,255,extensive uptake,ImagingFindings,0.5604
7,1,264,268,chest,External_body_part_or_region,0.7058
8,1,271,279,bilateral,Direction,0.9832
9,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.26483333
10,1,316,330,lymphadenopathy,Symptom,0.9024
11,2,334,336,She,Gender,0.9999
12,2,347,358,acidic fluid,Symptom,0.325
13,2,361,368,pectoral,Internal_organ_or_component,0.7713
14,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.23506665
15,2,403,414,uptake in L4,ImagingFindings,0.6043
16,2,421,423,SUV,Test,0.95
17,2,428,428,4,Test_Result,0.5174
18,3,456,464,stage III,Modifier,0.4131
19,3,466,472,disease,Oncological,0.2835
20,4,475,477,Her,Gender,1.0
21,4,486,499,echocardiogram,Test,0.9883
22,4,511,527,ejection fraction,Test,0.82905
23,4,532,541,45% to 49%,Test_Result,0.4547
24,5,545,547,She,Gender,1.0
25,5,568,583,Oncology service,Clinical_Dept,0.99284995
26,5,600,611,chemotherapy,Treatment,0.9986
27,5,616,632,"September 1, 2007",Date,0.965975
28,5,639,647,cisplatin,Drug_Ingredient,0.9809
29,5,649,664,75 mg/centimeter,Strength,0.39270002
30,5,683,688,109 mg,Strength,0.77709997
31,5,690,701,IV piggyback,Route,0.72214997
32,5,703,714,over 2 hours,Frequency,0.34986666
33,5,719,735,"September 1, 2007",Date,0.93887496

 ******************** ner_anatomy_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,56,60,fluid,Organism_substance,0.9964
1,0,93,97,fluid,Organism_substance,0.965
2,1,264,268,chest,Organism_subdivision,0.9811
3,1,281,309,pleural pericardial effusions,Multi-tissue_structure,0.6669
4,2,354,358,fluid,Organism_substance,0.9242
5,2,387,397,lymph nodes,Pathological_formation,0.89185

 ******************** ner_jsl_enriched_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,75,86,thoracoscopy,Procedure_Name,0.9168
1,0,93,106,fluid biopsies,Procedure_Name,0.63594997
2,0,146,179,epithelioid malignant mesothelioma,Diagnosis,0.37353334
3,1,219,224,PET CT,Name,0.7194
4,1,316,330,lymphadenopathy,Symptom_Name,0.5233
5,2,334,336,She,Gender,0.857
6,4,475,477,Her,Gender,0.8197
7,4,486,499,echocardiogram,Name,0.9748
8,5,545,547,She,Gender,0.8454
9,5,600,611,chemotherapy,Drug_Name,0.6239
10,5,639,647,cisplatin,Drug_Name,0.977

 ******************** ner_human_phenotype_go_biobert Model Results ********************

  sentence  begin  end     chunks entity confidence
0        1    271  279  bilateral     HP     0.9994

 ******************** ner_deid_biobert Model Results ********************

  sentence  begin  end             chunks entity confidence
0        5    616  632  September 1, 2007   DATE   0.918525
1        5    719  735  September 1, 2007   DATE   0.782625

 ******************** ner_deid_enriched_biobert Model Results ********************

  sentence  begin  end             chunks entity  confidence
0        5    616  632  September 1, 2007   DATE  0.85272497
1        5    719  735  September 1, 2007   DATE     0.80125

 ******************** ner_clinical_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,TREATMENT,0.83743334
1,0,40,47,drainage,TREATMENT,0.9278
2,0,52,60,the fluid,PROBLEM,0.73440003
3,0,75,86,thoracoscopy,TEST,0.7644
4,0,93,106,fluid biopsies,TEST,0.7454
5,0,146,179,epithelioid malignant mesothelioma,PROBLEM,0.9554667
6,1,217,224,a PET CT,TEST,0.9867
7,1,240,268,extensive uptake in the chest,PROBLEM,0.7874
8,1,271,309,bilateral pleural pericardial effusions,PROBLEM,0.726475
9,1,316,330,lymphadenopathy,PROBLEM,0.9856
10,2,347,358,acidic fluid,PROBLEM,0.686
11,2,361,397,pectoral and intramammary lymph nodes,PROBLEM,0.68846
12,2,403,414,uptake in L4,PROBLEM,0.72023326
13,2,421,423,SUV,TEST,0.9567
14,3,456,472,stage III disease,PROBLEM,0.78283334
15,4,475,499,Her repeat echocardiogram,TEST,0.89046663
16,4,508,527,an ejection fraction,TEST,0.70666665
17,5,600,611,chemotherapy,TREATMENT,0.9666
18,5,639,647,cisplatin,TREATMENT,0.9939

 ******************** ner_anatomy_coarse_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,24,chest tube,Anatomy,0.97695
1,0,56,60,fluid,Anatomy,0.9538
2,0,93,97,fluid,Anatomy,0.7474
3,0,146,179,epithelioid malignant mesothelioma,Anatomy,0.9614666
4,1,264,268,chest,Anatomy,0.9686
5,1,271,309,bilateral pleural pericardial effusions,Anatomy,0.784075
6,2,347,358,acidic fluid,Anatomy,0.64615
7,2,361,368,pectoral,Anatomy,0.9955
8,2,374,397,intramammary lymph nodes,Anatomy,0.9804333
9,2,413,414,L4,Anatomy,0.9677

 ******************** ner_human_phenotype_gene_biobert Model Results ********************

  sentence  begin  end                         chunks entity confidence
0        0     15   24                     chest tube     HP     0.9135
1        1    271  279                      bilateral     HP     0.9859
2        1    281  309  pleural pericardial effusions     HP  0.9592333

 ******************** ner_posology_large_biobert Model Results ********************

  sentence  begin  end            chunks    entity confidence
0        5    600  611      chemotherapy      DRUG        1.0
1        5    639  647         cisplatin      DRUG        1.0
2        5    649  664  75 mg/centimeter  STRENGTH     0.8503
3        5    683  688            109 mg  STRENGTH    0.90645
4        5    690  691                IV     ROUTE     0.9999

 ******************** jsl_rd_ner_wip_greedy_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,19,chest,BodyPart,0.7313
1,0,21,34,tube placement,Procedure,0.63555
2,0,40,47,drainage,Procedure,0.5822
3,0,56,60,fluid,ImagingFindings,0.4293
4,0,75,86,thoracoscopy,Procedure,0.9873
5,0,93,106,fluid biopsies,Procedure,0.5108
6,0,146,179,epithelioid malignant mesothelioma,Disease_Syndrome_Disorder,0.50823337
7,1,219,224,PET CT,ImagingTest,0.85085
8,1,240,255,extensive uptake,ImagingFindings,0.38160002
9,1,264,268,chest,BodyPart,0.9469
10,1,271,279,bilateral,Direction,0.8119
11,1,281,299,pleural pericardial,BodyPart,0.56675
12,1,301,309,effusions,ImagingFindings,0.8505
13,1,316,330,lymphadenopathy,ImagingFindings,0.7923
14,2,347,358,acidic fluid,Symptom,0.34085
15,2,361,368,pectoral,BodyPart,0.9509
16,2,374,397,intramammary lymph nodes,BodyPart,0.6314
17,2,403,408,uptake,ImagingFindings,0.7065
18,2,413,414,L4,BodyPart,0.9876
19,2,421,423,SUV,Symptom,0.8034
20,3,456,472,stage III disease,Disease_Syndrome_Disorder,0.7056667
21,4,486,499,echocardiogram,ImagingTest,0.6999
22,4,511,527,ejection fraction,OtherFindings,0.65540004
23,4,532,534,45%,Measurements,0.9959
24,4,539,541,49%,Measurements,0.9925
25,5,649,650,75,Measurements,0.9994
26,5,652,664,mg/centimeter,Units,0.9592
27,5,683,685,109,Measurements,0.9504
28,5,687,688,mg,Units,0.9992

 ******************** ner_posology_biobert Model Results ********************

  sentence  begin  end            chunks     entity confidence
0        5    600  611      chemotherapy       DRUG     0.9995
1        5    639  647         cisplatin       DRUG        1.0
2        5    649  664  75 mg/centimeter   STRENGTH     0.7199
3        5    683  688            109 mg   STRENGTH       0.81
4        5    690  691                IV      ROUTE        1.0
5        5    693  701         piggyback  FREQUENCY     0.9044

 ******************** jsl_ner_wip_greedy_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,Procedure,0.43430004
1,0,56,60,fluid,Symptom,0.4547
2,0,75,86,thoracoscopy,Procedure,0.9943
3,0,93,106,fluid biopsies,Procedure,0.6034
4,0,146,179,epithelioid malignant mesothelioma,Oncological,0.7372667
5,1,219,224,PET CT,Test,0.8478
6,1,240,255,extensive uptake,ImagingFindings,0.5046
7,1,264,268,chest,External_body_part_or_region,0.6914
8,1,271,279,bilateral,Direction,0.5708
9,1,281,309,pleural pericardial effusions,Disease_Syndrome_Disorder,0.249
10,1,316,330,lymphadenopathy,Symptom,0.8689
11,2,334,336,She,Gender,0.9998
12,2,347,358,acidic fluid,Symptom,0.2492
13,2,361,368,pectoral,External_body_part_or_region,0.5236
14,2,374,397,intramammary lymph nodes,Internal_organ_or_component,0.37393332
15,2,413,414,L4,Internal_organ_or_component,0.7177
16,2,421,423,SUV,Test,0.8601
17,3,456,472,stage III disease,Oncological,0.19683333
18,4,475,477,Her,Gender,0.9996
19,4,486,499,echocardiogram,Test,0.9874
20,4,511,527,ejection fraction,Test,0.8779
21,4,532,541,45% to 49%,Test_Result,0.62729996
22,5,545,547,She,Gender,0.9996
23,5,568,583,Oncology service,Clinical_Dept,0.90384996
24,5,600,664,"chemotherapy on September 1, 2007 with cisplat...",Drug,0.53597
25,5,683,701,109 mg IV piggyback,Drug,0.531375
26,5,703,714,over 2 hours,Duration,0.50083333
27,5,719,735,"September 1, 2007",Date,0.513325

 ******************** ner_chemprot_biobert Model Results ********************

  sentence  begin  end     chunks    entity confidence
0        5    639  647  cisplatin  CHEMICAL     0.9939

 ******************** ner_ade_biobert Model Results ********************

,sentence,begin,end,chunks,entity,confidence
0,0,15,34,chest tube placement,DRUG,0.9891667
1,0,40,60,drainage of the fluid,DRUG,0.77637494
2,0,75,86,thoracoscopy,DRUG,0.9375
3,1,240,268,extensive uptake in the chest,ADE,0.90334
4,1,271,309,bilateral pleural pericardial effusions,ADE,0.73015
5,2,347,358,acidic fluid,ADE,0.6747
6,3,456,460,stage,DRUG,0.9395
7,5,600,611,chemotherapy,DRUG,0.9912
8,5,639,647,cisplatin,DRUG,0.992
9,5,693,701,piggyback,DRUG,0.8437

 ******************** ner_risk_factors_biobert Model Results ********************

  sentence  begin  end     chunks entity confidence
0        5    616  624  September    PHI     0.9707
1        5    719  727  September    PHI     0.9858
2        5    732  735       2007    PHI     0.9828

 ******************** ner_living_species_biobert Model Results ********************

  sentence  begin  end   chunks entity confidence
0        1    187  193  patient  HUMAN     0.9994

**Show NER label results in a pandas dataframe.**

In [ ]:
get_token_results(bio_full_result)

,sentence,begin,end,token,ner_ade_biobert,ner_human_phenotype_go_biobert,ner_events_biobert,jsl_ner_wip_greedy_biobert,ner_bionlp_biobert,ner_jsl_biobert,...,ner_deid_biobert,ner_human_phenotype_gene_biobert,ner_clinical_biobert,ner_diseases_biobert,ner_living_species_biobert,ner_anatomy_coarse_biobert,ner_cellular_biobert,ner_anatomy_biobert,ner_deid_enriched_biobert,ner_risk_factors_biobert
0,0,1,2,At,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
1,0,4,7,this,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
2,0,9,12,time,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
3,0,13,13,",",O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
4,0,15,19,chest,B-DRUG,O,B-TREATMENT,B-Procedure,B-Multi-tissue_structure,B-Procedure,...,O,B-HP,B-TREATMENT,O,O,B-Anatomy,O,O,O,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,5,716,717,on,O,O,O,O,O,O,...,O,O,O,O,O,O,O,O,O,O
124,5,719,727,September,O,O,B-DATE,B-Date,O,B-Date,...,B-DATE,O,O,O,O,O,O,O,B-DATE,B-PHI
125,5,729,729,1,O,O,I-DATE,I-Date,O,I-Date,...,I-DATE,O,O,O,O,O,O,O,I-DATE,O
126,5,730,730,",",O,O,I-DATE,I-Date,O,I-Date,...,I-DATE,O,O,O,O,O,O,O,I-DATE,O
127,5,732,735,2007,O,O,I-DATE,I-Date,O,I-Date,...,I-DATE,O,O,O,O,O,O,O,I-DATE,I-PHI