![JohnSnowLabs](https://nlp.johnsnowlabs.com/assets/images/logo.png)

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/JohnSnowLabs/nlu/blob/master/examples/colab/component_examples/text_pre_processing_and_cleaning/NLU_normalizer_example.ipynb)

# Normalziing with NLU 

The Normalizer cleans text data from dirty characters, lowercases it by default and removes punctuation.       

### Removes all dirty characters and from text following a regex pattern.    
- Dirty characters are things like !@#$%^&*()?>< etc..
- Useful for reducing dimension/variance of your data since fewer symbols will occur
- Useful for cleaning tweets 
- Matches slangs
- Language independent 
- You can use a regex pattern to specify which tokens will *not* be removed.  

I.e the pattern [a-z] matches all characters from a,b,c... to x,y,z. It will throw
```
pipe['normalizer'].setCleanupPatterns('[a-z]') 
```


# 1. Install Java and NLU

In [ ]:
!wget https://setup.johnsnowlabs.com/nlu/colab.sh -O - | bash
  

import nlu

--2021-05-01 23:18:29--  https://raw.githubusercontent.com/JohnSnowLabs/nlu/master/scripts/colab_setup.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1671 (1.6K) [text/plain]
Saving to: ‘STDOUT’

-                     0%[                    ]       0  --.-KB/s               Installing  NLU 3.0.0 with  PySpark 3.0.2 and Spark NLP 3.0.1 for Google Colab ...
-                   100%[===================>]   1.63K  --.-KB/s    in 0.002s

2021-05-01 23:18:29 (1000 KB/s) - written to stdout [1671/1671]

     |████████████████████████████████| 204.8MB 69kB/s
     |████████████████████████████████| 153kB 42.2MB/s
     |████████████████████████████████| 204kB 24.1MB/s
     |████████████████████████████████| 204kB 54.2MB/s
  Building wheel for pyspark (setup.py) ... done

## 2. Load Model and normalize sample string

In [ ]:
import nlu 


nlu.load('norm').predict('@CKL_IT says: that #normalizers are pretty useful to clean #structured_strings in #NLU like tweets')

sentence_detector_dl download started this may take some time.
Approximate size to download 354.6 KB
[OK!]

                                            document  ...               norm
0  @CKL_IT says: that #normalizers are pretty use...  ...              CKLIT
0  @CKL_IT says: that #normalizers are pretty use...  ...               says
0  @CKL_IT says: that #normalizers are pretty use...  ...               that
0  @CKL_IT says: that #normalizers are pretty use...  ...        normalizers
0  @CKL_IT says: that #normalizers are pretty use...  ...                are
0  @CKL_IT says: that #normalizers are pretty use...  ...             pretty
0  @CKL_IT says: that #normalizers are pretty use...  ...             useful
0  @CKL_IT says: that #normalizers are pretty use...  ...                 to
0  @CKL_IT says: that #normalizers are pretty use...  ...              clean
0  @CKL_IT says: that #normalizers are pretty use...  ...  structuredstrings
0  @CKL_IT says: that #normalizers are pretty use...  ...                 in
0  @CKL_IT says: that #normalizers are pretty use...  ...                NLU
0  @CKL_IT says: that #normalizers are pretty use...  ...               like
0  @CKL_IT says: that #normalizers are pretty use...  ...             tweets

[14 rows x 4 columns]

## 2. Configure the normalizer with custom parameters
Use the pipe.print_info() to see all configurable parameters and infos about them for every NLU component in the pipeline pipeline.     
Even tough only 'norm' is loaded, many NLU component dependencies are automatically loaded into the pipeline and also configurable. 


By default the normalizer will set all tokens to lower case.     
Lets change that

In [ ]:
pipe = nlu.load('norm')
pipe.predict('LOWERCASE BY DEFAULT')

sentence_detector_dl download started this may take some time.
Approximate size to download 354.6 KB
[OK!]

               document  ...       norm
0  LOWERCASE BY DEFAULT  ...  LOWERCASE
0  LOWERCASE BY DEFAULT  ...         BY
0  LOWERCASE BY DEFAULT  ...    DEFAULT

[3 rows x 4 columns]

### 2.1 Print all parameters for all NLU components in the pipeline

In [ ]:
pipe.print_info()

The following parameters are configurable for this NLU pipeline (You can copy paste the examples) :
>>> pipe['normalizer'] has settable params:
pipe['normalizer'].setCleanupPatterns(['[^\\pL+]'])  | Info: normalization regex patterns which match will be removed from token | Currently set to : ['[^\\pL+]']
pipe['normalizer'].setLowercase(False)               | Info: whether to convert strings to lowercase | Currently set to : False
pipe['normalizer'].setSlangMatchCase(False)          | Info: whether or not to be case sensitive to match slangs. Defaults to false. | Currently set to : False
pipe['normalizer'].setMinLength(0)                   | Info: Set the minimum allowed legth for each token | Currently set to : 0
>>> pipe['default_tokenizer'] has settable params:
pipe['default_tokenizer'].setTargetPattern('\S+')    | Info: pattern to grab from text as token candidates. Defaults \S+ | Currently set to : \S+
pipe['default_tokenizer'].setContextChars(['.', ',', ';', ':', '!', '?', '*', '-', '(', ')', '"', "'"])  | Info: character list used to separate from token boundaries | Currently set to : ['.', ',', ';', ':', '!', '?', '*', '-', '(', ')', '"', "'"]
pipe['default_tokenizer'].setCaseSensitiveExceptions(True)  | Info: Whether to care for case sensitiveness in exceptions | Currently set to : True
pipe['default_tokenizer'].setMinLength(0)            | Info: Set the minimum allowed legth for each token | Currently set to : 0
pipe['default_tokenizer'].setMaxLength(99999)        | Info: Set the maximum allowed legth for each token | Currently set to : 99999
>>> pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'] has settable params:
pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'].setExplodeSentences(False)  | Info: whether to explode each sentence into a different row, for better parallelization. Defaults to false. | Currently set to : False
pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'].setStorageRef('SentenceDetectorDLModel_c83c27f46b97')  | Info: storage unique identifier | Currently set to : SentenceDetectorDLModel_c83c27f46b97
pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'].setEncoder(com.johnsnowlabs.nlp.annotators.sentence_detector_dl.SentenceDetectorDLEncoder@34b63906)  | Info: Data encoder | Currently set to : com.johnsnowlabs.nlp.annotators.sentence_detector_dl.SentenceDetectorDLEncoder@34b63906
pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'].setImpossiblePenultimates(['Bros', 'No', 'al', 'vs', 'etc', 'Fig', 'Dr', 'Prof', 'PhD', 'MD', 'Co', 'Corp', 'Inc', 'bros', 'VS', 'Vs', 'ETC', 'fig', 'dr', 'prof', 'PHD', 'phd', 'md', 'co', 'corp', 'inc', 'Jan', 'Feb', 'Mar', 'Apr', 'Jul', 'Aug', 'Sep', 'Sept', 'Oct', 'Nov', 'Dec', 'St', 'st', 'AM', 'PM', 'am', 'pm', 'e.g', 'f.e', 'i.e'])  | Info: Impossible penultimates | Currently set to : ['Bros', 'No', 'al', 'vs', 'etc', 'Fig', 'Dr', 'Prof', 'PhD', 'MD', 'Co', 'Corp', 'Inc', 'bros', 'VS', 'Vs', 'ETC', 'fig', 'dr', 'prof', 'PHD', 'phd', 'md', 'co', 'corp', 'inc', 'Jan', 'Feb', 'Mar', 'Apr', 'Jul', 'Aug', 'Sep', 'Sept', 'Oct', 'Nov', 'Dec', 'St', 'st', 'AM', 'PM', 'am', 'pm', 'e.g', 'f.e', 'i.e']
pipe['deep_sentence_detector@SentenceDetectorDLModel_c83c27f46b97'].setModelArchitecture('cnn')  | Info: Model architecture (CNN) | Currently set to : cnn
>>> pipe['document_assembler'] has settable params:
pipe['document_assembler'].setCleanupMode('shrink')  | Info: possible values: disabled, inplace, inplace_full, shrink, shrink_full, each, each_full, delete_full | Currently set to : shrink

### 2.2 Configure the Normalizer not to lowercase text

In [ ]:
pipe['normalizer'].setLowercase(True)      
pipe.predict('LOWERCASE BY DEFAULT')

               document  ...       norm
0  LOWERCASE BY DEFAULT  ...  LOWERCASE
0  LOWERCASE BY DEFAULT  ...         BY
0  LOWERCASE BY DEFAULT  ...    DEFAULT

[3 rows x 4 columns]

### 2.3Configure normalizer to remove strings based on regex pattern.
Lets remove all occurences of the lowercase letters x to z with the pattern [x-z].

In [ ]:
# Configure the Normalizer 
pipe['normalizer'].setCleanupPatterns(['[x-z]']) 
pipe.predict('From the x to the y to the z')

                       document  ...  norm
0  From the x to the y to the z  ...  From
0  From the x to the y to the z  ...   the
0  From the x to the y to the z  ...     x
0  From the x to the y to the z  ...    to
0  From the x to the y to the z  ...   the
0  From the x to the y to the z  ...     y
0  From the x to the y to the z  ...    to
0  From the x to the y to the z  ...   the
0  From the x to the y to the z  ...     z

[9 rows x 4 columns]

#### NOTE: The regex pattern is applied **BEFORE** lowercasing.    
This is why the X,Y,Z tokens are kept i nthe following example

In [ ]:
# Configure the Normalizer 
pipe['normalizer'].setCleanupPatterns(['[x-z]']) 
pipe.predict('From the X to the Y to the Z')

                       document  ...  norm
0  From the X to the Y to the Z  ...  From
0  From the X to the Y to the Z  ...   the
0  From the X to the Y to the Z  ...     X
0  From the X to the Y to the Z  ...    to
0  From the X to the Y to the Z  ...   the
0  From the X to the Y to the Z  ...     Y
0  From the X to the Y to the Z  ...    to
0  From the X to the Y to the Z  ...   the
0  From the X to the Y to the Z  ...     Z

[9 rows x 4 columns]

# 3. Get one row per normalized token by setting outputlevel to token.    
This lets us compare what the original token was and what it was normalized to.

In [ ]:
pipe.predict('From the X to the Y to the Z', output_level='token')

  token                                    norm
0  From  [From, the, X, to, the, Y, to, the, Z]
0   the  [From, the, X, to, the, Y, to, the, Z]
0     X  [From, the, X, to, the, Y, to, the, Z]
0    to  [From, the, X, to, the, Y, to, the, Z]
0   the  [From, the, X, to, the, Y, to, the, Z]
0     Y  [From, the, X, to, the, Y, to, the, Z]
0    to  [From, the, X, to, the, Y, to, the, Z]
0   the  [From, the, X, to, the, Y, to, the, Z]
0     Z  [From, the, X, to, the, Y, to, the, Z]